{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
	"x-release": "",
    "title": "BBC iPlayer Business Layer",
    "description": "The definitive iPlayer API.",
	"x-logo": {
		"url": "http://static.bbci.co.uk/tviplayer/1.101.2/img/navigation/iplayer_pink.svg",
		"backgroundColor": "#FFFFFF"
	},
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
	"contact": {
	  "name": "Open iBL Project",
	  "email": "ibl-team@lists.forge.bbc.co.uk",
	  "url": "http://developer.bbc.co.uk/"
	}
  },
  "externalDocs": {
    "description": "BBC iPlayer documentation",
    "url": "http://smethur.st/posts/176135860"
  },
  "host": "ibl.api.bbci.co.uk",
  "basePath": "/ibl/v1",
  "securityDefinitions": {
    "api_key": {
        "type": "apiKey",
       	"name": "api_key",
	"in": "query"
     },
    "basic": {
		"type": "basic",
		"description": "Used only by store purchases."
	}
  },
  "security": [{
	 "api_key": []
  }],
  "schemes": [
    "http",
	"https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/programmes/{pid}": {
      "get": {
		"summary": "Programme for a given pid.",
        "description": "Get the programme for a given programme identifier.",
        "tags": [
          "Programmes (TLEOs)"
        ],
        "operationId": "Get_Programmes by parent PID_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pid",
            "in": "path",
            "required": true,
			"description": "The programme identifier.",
            "type": "string",
			"pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
			"minLength": 8
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
			"description": "The rights group to limit results to.",
            "type": "string",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          },
          {
            "name": "initial_child_count",
            "in": "query",
            "required": true,
			"description": "The depth to return child entities.",
            "type": "integer",
			"minimum": 1,
			"maximum": 4,
			"default": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/programmes/{pid}/episodes": {
      "get": {
		"summary": "Child episodes for a given programme pid.",
        "description": "Get the child episodes belonging to a given programme identifier.",
        "tags": [
          "Episodes"
        ],
        "operationId": "Get_Episodes by parent PID_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pid",
            "in": "path",
            "required": true,
			"description": "The programme identifier.",
            "type": "string",
			"pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
			"minLength": 8
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
			"description": "The rights group to limit results to.",
            "type": "string",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          },
          {
            "name": "initial_child_count",
            "in": "query",
            "required": true,
			"description": "The depth to return child entities.",
            "type": "integer",
			"minimum": 1,
			"maximum": 4,
			"default": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/episodes/{pid}": {
      "get": {
		"summary": "Episode for a given pid.",
        "description": "Get the episode for a given episode identifier.",
        "tags": [
          "Episodes"
        ],
        "operationId": "Get_Programme by PID_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pid",
            "in": "path",
            "required": true,
			"description": "The programme identifier.",
            "type": "string",
			"pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
			"minLength": 8
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
			"description": "The rights group to limit results to.",
            "type": "string",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          },
          {
            "name": "mixin",
            "in": "query",
            "required": false,
			"description": "Request additional data in the output",
			"type": "array",
			"collectionFormat": "multi",
			"items": {
				"format": "string"
			},
			"enum": [
				"live",
				"promotions"
			]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/atoz/{letter}/programmes": {
      "get": {
		"summary": "Programmes by initial title character",
        "description": "Get the Programmes whose title begins with the given initial character.",
        "tags": [
          "A to Z"
        ],
        "operationId": "Get_Programmes AtoZ search_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "letter",
            "in": "path",
            "required": true,
			"description": "Letter to search by, a to z or the string '0-9'",
            "type": "string",
			"pattern": "[a-z](0-9)"
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
			"description": "The rights group to limit results to.",
            "type": "string",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
			"description": "The page index.",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
			"description": "The number of results to return.",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "initial_child_count",
            "in": "query",
            "required": true,
            "type": "integer",
			"description": "The depth to return child entities.",
			"minimum": 1,
			"maximum": 4,
			"default": 4
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
			"description": "The sort order of the results.",
            "type": "string",
			"enum": [
				"title"
			]
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": true,
			"description": "Whether to sort ascending or descending",
            "type": "string",
			"enum": [
				"asc",
				"desc"
			]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/episodes/{pid}/prerolls": {
      "get": {
        "summary": "Get Trailers (pre-rolls)",
        "description": "Get Trailers (pre-rolls)",
        "tags": [
          "Episodes"
        ],
        "operationId": "Get_Trailers (pre-rolls)_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pid",
            "in": "path",
            "required": true,
			"description": "The programme identifier.",
            "type": "string",
			"pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
			"minLength": 8
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
			"description": "The rights group to limit results to.",
            "type": "string",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/clips/{pid}": {
      "get": {
        "summary": "Get Clips",
        "description": "Get Clips",
        "tags": [
          "Episodes"
        ],
        "operationId": "Get_Clips_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pid",
            "in": "path",
            "required": true,
			"description": "The programme identifier.",
            "type": "string",
			"pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
			"minLength": 8
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
			"description": "The rights group to limit results to.",
            "type": "string",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/search-suggest": {
      "get": {
        "summary": "Search-suggest",
        "description": "Search-suggest",
        "tags": [
          "Search"
        ],
        "operationId": "Search-suggest_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
			"description": "The term to search for.",
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The language for any applicable localised strings.",
			"enum": [
				"en",
				"cy",
				"ga",
				"gd",
				"pi"
			]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
			"description": "The rights group to limit results to.",
            "type": "string",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/channels/{channel}/schedule/{date}": {
      "get": {
        "summary": "Get schedule by channel",
        "description": "Get schedule by channel",
        "tags": [
          "Channels"
        ],
        "operationId": "Get_Schedule by channel_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
			"description": "The channel identifier to limit results to.",
            "type": "string"
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
			"description": "The date to return the schedule for, yyyy-mm-dd format",
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The language for any applicable localised strings.",
			"enum": [
				"en",
				"cy",
				"ga",
				"gd",
				"pi"
			]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
			"description": "The rights group to limit results to.",
            "type": "string",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/channels/{channel}/highlights": {
      "get": {
		"summary": "List the highlights for a channel.",
        "description": "Get the editorial highlights of a given channel in TV & iPlayer.",
        "tags": [
          "Channels"
        ],
        "operationId": "Get_Highlights by channel_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
			"description": "The channel identifier to limit results to.",
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The language for any applicable localised strings.",
			"enum": [
				"en",
				"cy",
				"ga",
				"gd",
				"pi"
			]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
			"description": "The rights group to limit results to.",
            "type": "string",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          },
          {
            "name": "live",
            "in": "query",
            "required": false,
			"description": "Whether to include live programmes",
            "type": "boolean"
          },
          {
            "name": "mixin",
            "in": "query",
            "required": false,
			"description": "Request additional data in the output",
			"type": "array",
			"collectionFormat": "multi",
			"items": {
				"format": "string"
			},
			"enum": [
				"live",
				"promotions"
			]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/search": {
      "get": {
        "summary": "Search",
        "description": "Search",
        "tags": [
          "Search"
        ],
        "operationId": "Search_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
			"description": "The term to search for.",
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The language for any applicable localised strings.",
			"enum": [
				"en",
				"cy",
				"ga",
				"gd",
				"pi"
			]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The rights group to limit results to.",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/categories": {
      "get": {
		"summary": "Get categories",
        "description": "Get the list of all the categories in TV & iPlayer.",
        "tags": [
          "Categories"
        ],
        "operationId": "Get_Categories_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The language for any applicable localised strings.",
			"enum": [
				"en",
				"cy",
				"ga",
				"gd",
				"pi"
			]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/categories/{category}": {
      "get": {
		"summary": "Get sub-categories",
        "description": "Get sub-categories",
        "tags": [
          "Categories"
        ],
        "operationId": "Get_Sub-categories_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
			"description": "The category identifier to return results from.",
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The language for any applicable localised strings.",
			"enum": [
				"en",
				"cy",
				"ga",
				"gd",
				"pi"
			]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/categories/{category}/programmes": {
      "get": {
        "summary": "List all the programmes for a category.",
		"description": "Get the list of all the Programmes (TLEOs) for a given category in TV & iPlayer.",
        "tags": [
          "Programmes (TLEOs)"
        ],
        "operationId": "Get_Programmes by category_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
			"description": "The category identifier to return results from.",
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The language for any applicable localised strings.",
			"enum": [
				"en",
				"cy",
				"ga",
				"gd",
				"pi"
			]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The rights group to limit results to.",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
			"description": "The page index.",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
			"description": "The number of results to return.",
            "type": "integer",
            "format": "int64"
          }
       ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/categories/{category}/episodes": {
      "get": {
        "summary": "List all the episodes for a category.",
		"description": "Get the list of all the episodes for a given category in TV & iPlayer.",
        "tags": [
          "Episodes"
        ],
        "operationId": "Get_Episodes by category_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
			"description": "The category identifier to return results from.",
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The language for any applicable localised strings.",
			"enum": [
				"en",
				"cy",
				"ga",
				"gd",
				"pi"
			]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The rights group to limit results to.",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
			"description": "The page index.",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
			"description": "The number of results to return.",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
			"description": "The sort order of the results.",
            "type": "string",
            "enum": [
				"recent",
				"popular"
			]
          }
       ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/episodes/{pid}/recommendations": {
      "get": {
        "summary": "Get programme recommendations",
        "description": "Get programme recommendations",
        "tags": [
          "Episodes"
        ],
        "operationId": "Get_Programme recommendations_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pid",
            "in": "path",
            "required": true,
			"description": "The programme identifier.",
            "type": "string",
			"pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
			"minLength": 8
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The rights group to limit results to.",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
			"description": "The page index.",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
			"description": "The number of results to return.",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/status": {
      "get": {
		"summary": "Get status",
        "description": "Get the current iPlayer business layer status. This tells the caller the status of the iPlayer data, but not necessarily the overall status of the website. In the future it might include the status of the dependent data services within the BBC.",
        "tags": [
          "Metadata"
        ],
        "operationId": "Get_Status_",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/channels": {
      "get": {
		"summary": "List all the channels.",
        "description": "Get the list of all the channels TV & iPlayer.",
        "tags": [
          "Channels"
        ],
        "operationId": "Get_Channels_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "required": false,
			"description": "The region to get the channels for.",
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
			"description": "The language for any applicable localised strings.",
            "type": "string",
			"enum": [
				"en",
				"cy",
				"ga",
				"gd",
				"pi"
			]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/groups/popular/episodes": {
      "get": {
        "summary": "Get programmes popular",
        "description": "Get programmes popular",
        "tags": [
          "Episodes"
        ],
        "operationId": "Get_Programmes popular_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The rights group to limit results to.",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
			"description": "The page index.",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
			"description": "The number of results to return.",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "initial_child_count",
            "in": "query",
            "required": true,
			"description": "The depth to return child entities.",
            "type": "integer",
			"minimum": 1,
			"maximum": 4,
			"default": 4
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
			"description": "The sort order of the results.",
            "type": "string"
	      },
          {
            "name": "sort_direction",
            "in": "query",
            "required": true,
			"description": "Whether to sort ascending or descending",
            "type": "string",
			"enum": [
				"asc",
				"desc"
			]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          },
          {
            "name": "mixin",
            "in": "query",
            "required": false,
			"description": "Request additional data in the output",
			"type": "array",
			"collectionFormat": "multi",
			"items": {
				"format": "string"
			},
			"enum": [
				"live",
				"promotions"
			]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/groups/{pid}/episodes": {
      "get": {
        "summary": "Get episodes by group, brand or series",
        "description": "Get episodes by group, brand or series",
        "tags": [
          "Episodes"
        ],
        "operationId": "Get_Episodes by group_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pid",
            "in": "path",
            "required": true,
			"description": "The programme identifier.",
            "type": "string",
			"pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
			"minLength": 8
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The rights group to limit results to.",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
			"description": "The page index.",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
			"description": "The number of results to return.",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "initial_child_count",
            "in": "query",
            "required": true,
			"description": "The depth to return child entities.",
            "type": "integer",
			"minimum": 1,
			"maximum": 4,
			"default": 4
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
			"description": "The sort order of the results.",
            "type": "string"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": true,
			"description": "Whether to sort ascending or descending",
            "type": "string",
			"enum": [
				"asc",
				"desc"
			]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          },
          {
            "name": "mixin",
            "in": "query",
            "required": false,
			"description": "Request additional data in the output",
			"type": "array",
			"collectionFormat": "multi",
			"items": {
				"format": "string"
			},
			"enum": [
				"live",
				"promotions"
			]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/categories/{category}/highlights": {
      "get": {
		"summary": "List the highlights for a category.",
        "description": "Get the editorial highlights of a given category in TV & iPlayer.",
        "tags": [
          "Programmes (TLEOs)"
        ],
        "operationId": "Get_Highlights by category_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
			"description": "The category identifier to return results from.",
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
			"description": "The language for any applicable localised strings.",
            "type": "string",
			"enum": [
				"en",
				"cy",
				"ga",
				"gd",
				"pi"
			]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The rights group to limit results to.",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          },
          {
            "name": "mixin",
            "in": "query",
            "required": false,
			"description": "Request additional data in the output",
			"type": "array",
			"collectionFormat": "multi",
			"items": {
				"format": "string"
			},
			"enum": [
				"live",
				"promotions"
			]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/channels/{channel}/programmes": {
      "get": {
        "summary": "Get programmes by channel",
        "description": "Get programmes by channel",
        "tags": [
          "Programmes (TLEOs)"
        ],
        "operationId": "Get_Programmes by channel_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
			"description": "The channel identifier to limit results to.",
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
			"description": "The language for any applicable localised strings.",
            "type": "string",
			"enum": [
				"en",
				"cy",
				"ga",
				"gd",
				"pi"
			]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The rights group to limit results to.",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
			"description": "The page index.",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
			"description": "The number of results to return.",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/regions": {
      "get": {
        "summary": "List all regions",
        "description": "Get the list of all the regions TV & iPlayer.",
        "tags": [
          "Regions"
        ],
        "operationId": "Get_Regions_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The language for any applicable localised strings.",
			"enum": [
				"en",
				"cy",
				"ga",
				"gd",
				"pi"
			]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/user/watching": {
      "get": {
        "summary": "Get user watching",
        "description": "Get user watching",
        "tags": [
          "User"
        ],
        "operationId": "Get_User watching_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "identity_cookie",
            "in": "query",
            "required": true,
			"description": "The BBC-id cookie value",
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/schema/ibl.json": {
      "get": {
        "summary": "Get schema",
        "description": "Get schema",
        "tags": [
          "Metadata"
        ],
        "operationId": "Get_Schema_",
        "produces": [
          "application/json"
        ],
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/channels/{channel}/broadcasts": {
      "get": {
        "summary": "Get broadcasts by channel",
        "description": "Get broadcasts by channel",
        "tags": [
          "Programmes (TLEOs)"
        ],
        "operationId": "Get_Broadcasts by channel_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
			"description": "The channel identifier to limit results to.",
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The language for any applicable localised strings.",
			"enum": [
				"en",
				"cy",
				"ga",
				"gd",
				"pi"
			]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The rights group to limit results to.",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/user/purchases": {
      "get": {
        "summary": "Get user store purchases",
        "description": "Get user store purchases",
        "tags": [
          "User"
        ],
        "operationId": "Get_User store purchases_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "identity_cookie",
            "in": "query",
            "required": true,
			"description": "The BBC-id cookie value",
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": [{
			"basic": []
		}]
      }
    },
    "/user/recommendations": {
      "get": {
        "summary": "Get user store recommendations",
        "description": "Get user store recommendations",
        "tags": [
          "User"
        ],
        "operationId": "Get_User store recommendations_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "identity_cookie",
            "in": "query",
            "required": true,
			"description": "The BBC-id cookie value",
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    },
    "/home/highlights": {
      "get": {
        "summary": "Get programme highlights",
        "description": "Get programme highlights",
        "tags": [
          "Programmes (TLEOs)"
        ],
        "operationId": "Get_Programme highlights_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The language for any applicable localised strings.",
			"enum": [
				"en",
				"cy",
				"ga",
				"gd",
				"pi"
			]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The rights group to limit results to.",
			"enum": [
				"mobile",
				"tv",
				"web"
			],
			"default": "web"
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
			"description": "Whether to return all, or available programmes",
            "type": "string",
			"enum": [
				"all",
				"available"
			],
			"default": "available"
          },
          {
            "name": "mixin",
            "in": "query",
            "required": false,
			"description": "Request additional data in the output",
			"type": "array",
			"collectionFormat": "multi",
			"items": {
				"format": "string"
			},
			"enum": [
				"live",
				"promotions"
			]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
			"schema": {
				"$ref": "#/definitions/ibl"
			}
          }
        },
        "security": []
      }
    }
  },
  "definitions": {}
}
