{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "x-release": "388",
    "title": "BBC iPlayer Business Layer",
    "description": "BBC iPlayer Business logic Layer",
    "x-logo": {
      "url": "http://static.bbci.co.uk/tviplayer/1.101.2/img/navigation/iplayer_pink.svg",
      "backgroundColor": "#FFFFFF"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "contact": {
      "name": "Open iBL Project",
      "email": "ibl-team@lists.forge.bbc.co.uk",
      "url": "http://developer.bbc.co.uk/"
    },
    "x-schema-id": "https://ibl.api.bbci.co.uk/ibl/v1/schema/ibl.json"
  },
  "externalDocs": {
    "description": "BBC iPlayer documentation",
    "url": "http://smethur.st/posts/176135860"
  },
  "host": "ibl.api.bbci.co.uk",
  "basePath": "/ibl/v1",
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "query"
    }
  },
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/programmes/{pid}": {
      "get": {
        "description": "Get programmes by parent PID",
        "tags": [
          "Programmes"
        ],
        "operationId": "Get_Programmes by parent PID_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
            "minLength": 8
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "tv",
              "web"
            ]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "available"
            ]
          },
          {
            "name": "initial_child_count",
            "in": "query",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "maximum": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/episodes/{pid}": {
      "get": {
        "description": "Get programme by PID",
        "tags": [
          "Programmes"
        ],
        "operationId": "Get_Programme by PID_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
            "minLength": 8
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "tv",
              "web"
            ]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "available"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/atoz/{letter}/programmes": {
      "get": {
        "description": "Get programmes by initial letter",
        "tags": [
          "Programmes"
        ],
        "operationId": "Get_Programmes AtoZ search_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "letter",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[a-z](0-9)"
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "tv",
              "web"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "initial_child_count",
            "in": "query",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "maximum": 4
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "title"
            ]
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "available"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/episodes/{pid}/prerolls": {
      "get": {
        "description": "Get Trailers (pre-rolls)",
        "tags": [
          "Programmes"
        ],
        "operationId": "Get_Trailers (pre-rolls)_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
            "minLength": 8
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "tv",
              "web"
            ]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "available"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/search-suggest": {
      "get": {
        "description": "Search-suggest",
        "tags": [
          "Programmes"
        ],
        "operationId": "Search-suggest_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd"
            ]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "tv",
              "web"
            ]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "available"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/channels/{channel}/schedule/{date}": {
      "get": {
        "description": "Get schedule by channel",
        "tags": [
          "Programmes"
        ],
        "operationId": "Get_Schedule by channel_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd"
            ]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "tv",
              "web"
            ]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "available"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/channels/{channel}/highlights": {
      "get": {
        "description": "Get highlights by channel",
        "tags": [
          "Programmes"
        ],
        "operationId": "Get_Highlights by channel_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd"
            ]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "tv",
              "web"
            ]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "available"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/search": {
      "get": {
        "description": "Search",
        "tags": [
          "Programmes"
        ],
        "operationId": "Search_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd"
            ]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "tv",
              "web"
            ]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "available"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/categories": {
      "get": {
        "description": "Get top-level categories",
        "tags": [
          "Categories"
        ],
        "operationId": "Get_Categories_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/categories/{category}": {
      "get": {
        "description": "Get sub-categories",
        "tags": [
          "Categories"
        ],
        "operationId": "Get_Sub-categories_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/categories/{category}/programmes": {
      "get": {
        "description": "Get programmes by category",
        "tags": [
          "Programmes"
        ],
        "operationId": "Get_Programmes by category_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd"
            ]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "tv",
              "web"
            ]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "available"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/episodes/{pid}/recommendations": {
      "get": {
        "description": "Get programme recommendations",
        "tags": [
          "Programmes"
        ],
        "operationId": "Get_Programme recommendations_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
            "minLength": 8
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "tv",
              "web"
            ]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "available"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/status": {
      "get": {
        "description": "Get status",
        "tags": [
          "Metadata"
        ],
        "operationId": "Get_Status_",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/channels": {
      "get": {
        "description": "Get channels",
        "tags": [
          "Channels"
        ],
        "operationId": "Get_Channels_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/groups/popular/episodes": {
      "get": {
        "description": "Get programmes popular",
        "tags": [
          "Programmes"
        ],
        "operationId": "Get_Programmes popular_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "tv",
              "web"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "initial_child_count",
            "in": "query",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "maximum": 4
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "available"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/groups/{pid}/episodes": {
      "get": {
        "description": "Get programmes by group, brand or series",
        "tags": [
          "Programmes"
        ],
        "operationId": "Get_Programmes by group_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$",
            "minLength": 8
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "tv",
              "web"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "initial_child_count",
            "in": "query",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "maximum": 4
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "available"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/categories/{category}/highlights": {
      "get": {
        "description": "Get highlights by category",
        "tags": [
          "Programmes"
        ],
        "operationId": "Get_Highlights by category_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd"
            ]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "tv",
              "web"
            ]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "available"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/channels/{channel}/programmes": {
      "get": {
        "description": "Get programmes by channel",
        "tags": [
          "Programmes"
        ],
        "operationId": "Get_Programmes by channel_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd"
            ]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "tv",
              "web"
            ]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "available"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/regions": {
      "get": {
        "description": "Get regions",
        "tags": [
          "Regions"
        ],
        "operationId": "Get_Regions_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/user/watching": {
      "get": {
        "description": "Get user watching",
        "tags": [
          "Programmes"
        ],
        "operationId": "Get_User watching_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "identity_cookie",
            "in": "query",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/schema/ibl.json": {
      "get": {
        "description": "Get schema",
        "tags": [
          "Metadata"
        ],
        "operationId": "Get_Schema_",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/channels/{channel}/broadcasts": {
      "get": {
        "description": "Get broadcasts by channel",
        "tags": [
          "Programmes"
        ],
        "operationId": "Get_Broadcasts by channel_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd"
            ]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "tv",
              "web"
            ]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "available"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/user/purchases": {
      "get": {
        "description": "Get user store purchases",
        "tags": [
          "Programmes"
        ],
        "operationId": "Get_User store purchases_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "identity_cookie",
            "in": "query",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/user/recommendations": {
      "get": {
        "description": "Get user store recommendations",
        "tags": [
          "Programmes"
        ],
        "operationId": "Get_User store recommendations_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "identity_cookie",
            "in": "query",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    },
    "/home/highlights": {
      "get": {
        "description": "Get programme highlights",
        "tags": [
          "Programmes"
        ],
        "operationId": "Get_Programme highlights_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "en",
              "cy",
              "ga",
              "gd"
            ]
          },
          {
            "name": "rights",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "tv",
              "web"
            ]
          },
          {
            "name": "availability",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "available"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/ibl"
            }
          }
        },
        "security": []
      }
    }
  },
  "definitions": {
    "ibl": {
      "type": "object",
      "properties": {
        "schema": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "properties": {
            "service": {
              "type": "string"
            },
            "release": {
              "type": "string"
            }
          },
          "required": [
            "service",
            "release"
          ],
          "additionalProperties": false
        },
        "error": {
          "type": "object",
          "properties": {
            "details": {
              "type": "string"
            },
            "http_response_code": {
              "type": "number"
            }
          },
          "required": [
            "details",
            "http_response_code"
          ],
          "additionalProperties": false
        },
        "categories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/category"
          }
        },
        "channels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/channel"
          }
        },
        "regions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/region"
          }
        },
        "episodes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/episode"
          }
        },
        "programmes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/programme"
          }
        },
        "programme_episodes": {
          "type": "object",
          "properties": {
            "page": {
              "type": "number"
            },
            "per_page": {
              "type": "number"
            },
            "count": {
              "type": "number"
            },
            "elements": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/episode"
              }
            }
          },
          "required": [
            "elements",
            "page",
            "per_page",
            "count"
          ],
          "additionalProperties": false
        },
        "group_episodes": {
          "type": "object",
          "properties": {
            "page": {
              "type": "number"
            },
            "per_page": {
              "type": "number"
            },
            "count": {
              "type": "number"
            },
            "elements": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/episode"
              }
            },
            "group": {
              "$ref": "#/definitions/group"
            }
          },
          "required": [
            "elements",
            "page",
            "per_page",
            "count"
          ],
          "additionalProperties": false
        },
        "episode_recommendations": {
          "type": "object",
          "properties": {
            "count": {
              "type": "number"
            },
            "elements": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/episode"
              }
            },
            "blend": {
              "enum": [
                "curated",
                "algorithmic"
              ]
            }
          },
          "required": [
            "elements",
            "count",
            "blend"
          ],
          "additionalProperties": false
        },
        "broadcasts": {
          "type": "object",
          "properties": {
            "page": {
              "type": "number"
            },
            "per_page": {
              "type": "number"
            },
            "count": {
              "type": "number"
            },
            "elements": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/broadcast"
              }
            },
            "channel": {
              "$ref": "#/definitions/channel"
            }
          },
          "required": [
            "elements",
            "page",
            "per_page",
            "count",
            "channel"
          ],
          "additionalProperties": false
        },
        "schedule": {
          "type": "object",
          "properties": {
            "elements": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/broadcast"
              }
            },
            "channel": {
              "$ref": "#/definitions/channel"
            }
          },
          "required": [
            "elements",
            "channel"
          ],
          "additionalProperties": false
        },
        "category_programmes": {
          "type": "object",
          "properties": {
            "count": {
              "type": "number"
            },
            "category": {
              "$ref": "#/definitions/category"
            },
            "elements": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/programme"
              }
            },
            "page": {
              "type": "number"
            },
            "per_page": {
              "type": "number"
            }
          },
          "required": [
            "category",
            "page",
            "count",
            "per_page",
            "elements"
          ],
          "additionalProperties": false
        },
        "atoz_programmes": {
          "type": "object",
          "properties": {
            "count": {
              "type": "number"
            },
            "character": {
              "type": "string"
            },
            "elements": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/programme"
              }
            },
            "page": {
              "type": "number"
            },
            "per_page": {
              "type": "number"
            }
          },
          "required": [
            "character",
            "page",
            "count",
            "per_page",
            "elements"
          ],
          "additionalProperties": false
        },
        "home_highlights": {
          "type": "object",
          "properties": {
            "elements": {
              "type": "array",
              "items": {},
              "x-anyOf": [
                {
                  "$ref": "#/definitions/episode"
                },
                {
                  "$ref": "#/definitions/group"
                },
                {
                  "$ref": "#/definitions/promotion"
                }
              ]
            }
          },
          "required": [
            "elements"
          ],
          "additionalProperties": false
        },
        "channel_highlights": {
          "type": "object",
          "properties": {
            "channel": {
              "$ref": "#/definitions/channel"
            },
            "elements": {
              "type": "array",
              "items": {},
              "x-anyOf": [
                {
                  "$ref": "#/definitions/episode"
                },
                {
                  "$ref": "#/definitions/group"
                },
                {
                  "$ref": "#/definitions/promotion"
                }
              ]
            }
          },
          "required": [
            "channel",
            "elements"
          ],
          "additionalProperties": false
        },
        "category_highlights": {
          "type": "object",
          "properties": {
            "category": {
              "$ref": "#/definitions/category"
            },
            "elements": {
              "type": "array",
              "items": {},
              "x-anyOf": [
                {
                  "$ref": "#/definitions/episode"
                },
                {
                  "$ref": "#/definitions/group"
                },
                {
                  "$ref": "#/definitions/promotion"
                }
              ]
            }
          },
          "required": [
            "category",
            "elements"
          ],
          "additionalProperties": false
        },
        "prerolls": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/trailer"
          }
        },
        "search": {
          "type": "object",
          "properties": {
            "query": {
              "type": "string"
            },
            "page": {
              "type": "number"
            },
            "per_page": {
              "type": "number"
            },
            "count": {
              "type": "number"
            },
            "results": {
              "type": "array",
              "items": {},
              "x-anyOf": [
                {
                  "$ref": "#/definitions/episode"
                },
                {
                  "$ref": "#/definitions/programme"
                },
                {
                  "$ref": "#/definitions/search_group"
                }
              ]
            }
          },
          "required": [
            "results",
            "query"
          ],
          "additionalProperties": false
        },
        "search_suggest": {
          "type": "object",
          "properties": {
            "query": {
              "type": "string"
            },
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/programme"
              }
            }
          },
          "required": [
            "results",
            "query"
          ],
          "additionalProperties": false
        },
        "watching": {
          "type": "object",
          "properties": {
            "elements": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/watching"
              }
            },
            "count": {
              "type": "number"
            }
          },
          "required": [
            "elements",
            "count"
          ],
          "additionalProperties": false
        },
        "user_recommendations": {
          "type": "object",
          "properties": {
            "elements": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/user_recommendation"
              }
            },
            "rec_source": {
              "type": "string"
            },
            "rec_set": {
              "type": "string"
            }
          },
          "required": [
            "elements",
            "rec_source",
            "rec_set"
          ],
          "additionalProperties": false
        },
        "added": {
          "type": "object",
          "properties": {
            "elements": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/added"
              }
            },
            "count": {
              "type": "number"
            },
            "count_all": {
              "type": "number"
            }
          },
          "required": [
            "elements",
            "count",
            "count_all"
          ],
          "additionalProperties": false
        },
        "purchases": {
          "type": "object",
          "properties": {
            "elements": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/episode"
              }
            },
            "count": {
              "type": "number"
            },
            "page": {
              "type": "number"
            },
            "per_page": {
              "type": "number"
            },
            "value_added_material": {
              "type": "boolean"
            },
            "revocations": {
              "type": "boolean"
            }
          },
          "required": [
            "elements",
            "page",
            "per_page",
            "count",
            "revocations",
            "value_added_material"
          ],
          "additionalProperties": false
        },
        "versions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/store_version"
          }
        },
        "next": {
          "type": "object",
          "properties": {
            "programme": {
              "type": "array"
            },
            "items": {
              "$ref": "#/definitions/episode"
            },
            "minItems": 0,
            "maxItems": 1
          }
        },
        "category": {
          "$ref": "#/definitions/category"
        }
      },
      "required": [
        "schema",
        "version"
      ],
      "additionalProperties": false
    },
    "category": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "enum": [
            "category"
          ]
        },
        "title": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "genre",
            "accessibility",
            "national"
          ]
        },
        "child_episode_count": {
          "type": "number"
        },
        "child_programme_count": {
          "type": "number"
        },
        "parent_category": {
          "type": "string"
        },
        "contextual_title": {
          "type": "string"
        },
        "sub_categories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/category"
          }
        }
      },
      "required": [
        "id",
        "title",
        "type",
        "kind"
      ],
      "additionalProperties": false
    },
    "channel": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "enum": [
            "channel"
          ]
        },
        "title": {
          "type": "string"
        },
        "has_schedule": {
          "type": "boolean"
        },
        "master_brand_id": {
          "type": "string"
        },
        "master_brand_title": {
          "type": "string"
        },
        "on_air": {
          "type": "boolean"
        }
      },
      "required": [
        "id",
        "title",
        "type",
        "has_schedule",
        "master_brand_id",
        "master_brand_title"
      ],
      "additionalProperties": false
    },
    "region": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "enum": [
            "region"
          ]
        },
        "title": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "regional",
            "national"
          ]
        }
      },
      "required": [
        "id",
        "type",
        "title",
        "kind"
      ],
      "additionalProperties": false
    },
    "episode": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "enum": [
            "episode",
            "episode_large"
          ]
        },
        "title": {
          "type": "string"
        },
        "live": {
          "type": "boolean"
        },
        "images": {
          "type": "object",
          "properties": {
            "type": {
              "enum": [
                "image"
              ]
            },
            "standard": {
              "type": "string"
            },
            "inherited_from": {
              "type": "string"
            }
          },
          "required": [
            "type",
            "standard"
          ],
          "additionalProperties": false
        },
        "has_credits": {
          "type": "boolean"
        },
        "signed": {
          "type": "boolean"
        },
        "audio_described": {
          "type": "boolean"
        },
        "status": {
          "enum": [
            "available",
            "unavailable"
          ]
        },
        "tleo_id": {
          "type": "string"
        },
        "guidance": {
          "type": "boolean"
        },
        "subtitle": {
          "type": "string"
        },
        "editorial_subtitle": {
          "type": "string"
        },
        "synopses": {
          "type": "object",
          "properties": {
            "small": {
              "type": "string"
            },
            "medium": {
              "type": "string"
            },
            "large": {
              "type": "string"
            },
            "editorial": {
              "type": "string"
            }
          },
          "additionalProperties": false
        },
        "versions": {
          "type": "array",
          "items": {},
          "x-anyOf": [
            {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "enum": [
                    "version",
                    "version_large"
                  ]
                },
                "hd": {
                  "type": "boolean"
                },
                "download": {
                  "type": "boolean"
                },
                "kind": {
                  "type": "string"
                },
                "duration": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "text",
                    "value"
                  ],
                  "additionalProperties": false
                },
                "rrc": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "description": {
                      "type": "object",
                      "properties": {
                        "small": {
                          "type": "string"
                        },
                        "large": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "small",
                        "large"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "description"
                  ],
                  "additionalProperties": false
                },
                "guidance": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "text": {
                      "type": "object",
                      "properties": {
                        "small": {
                          "type": "string"
                        },
                        "medium": {
                          "type": "string"
                        },
                        "large": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "additionalProperties": false
                },
                "first_broadcast": {
                  "type": "string"
                },
                "credits_start": {
                  "type": "number"
                },
                "service_id": {
                  "type": "string"
                },
                "availability": {
                  "type": "object",
                  "properties": {
                    "start": {
                      "type": "string"
                    },
                    "end": {
                      "type": "string"
                    },
                    "remaining": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "text"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "start"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "id",
                "type",
                "hd",
                "download",
                "duration",
                "kind",
                "availability"
              ],
              "additionalProperties": false
            },
            {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "enum": [
                    "store_version"
                  ]
                },
                "store_id": {
                  "type": "string"
                },
                "store_profile": {
                  "type": "string"
                },
                "hd": {
                  "type": "boolean"
                },
                "kind": {
                  "type": "string"
                },
                "download": {
                  "type": "boolean"
                },
                "duration": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "text",
                    "value"
                  ],
                  "additionalProperties": false
                },
                "guidance": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "text": {
                      "type": "object",
                      "properties": {
                        "small": {
                          "type": "string"
                        },
                        "medium": {
                          "type": "string"
                        },
                        "large": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "id",
                "type",
                "store_id",
                "store_profile",
                "hd",
                "download",
                "duration",
                "kind"
              ],
              "additionalProperties": false
            }
          ]
        },
        "parent_id": {
          "type": "string"
        },
        "suppliers": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "title"
            ]
          },
          "additionalProperties": false
        },
        "tleo_type": {
          "enum": [
            "episode",
            "brand",
            "series"
          ]
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "next_broadcast": {
          "type": "object",
          "properties": {
            "channel_title": {
              "type": "string"
            },
            "scheduled_start": {
              "type": "string"
            }
          },
          "required": [
            "channel_title",
            "scheduled_start"
          ],
          "additionalProperties": false
        },
        "labels": {
          "type": "object",
          "properties": {
            "editorial": {
              "type": "string"
            },
            "time": {
              "type": "string"
            },
            "category": {
              "type": "string"
            },
            "editorial_category": {
              "type": "string"
            }
          },
          "additionalProperties": false
        },
        "master_brand": {
          "$ref": "#/definitions/master_brand"
        },
        "parent_position": {
          "type": "number"
        },
        "release_date_time": {
          "type": "string"
        },
        "lexical_sort_letter": {
          "type": "string"
        },
        "release_date": {
          "type": "string"
        },
        "related_links": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "kind": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "type": {
                "enum": [
                  "link"
                ]
              }
            },
            "required": [
              "id",
              "url",
              "type",
              "kind",
              "title"
            ],
            "additionalProperties": false
          }
        },
        "promoted": {
          "type": "boolean"
        }
      },
      "required": [
        "id",
        "type",
        "title",
        "images",
        "signed",
        "audio_described",
        "status",
        "tleo_id",
        "guidance",
        "synopses",
        "versions",
        "suppliers",
        "tleo_type",
        "categories",
        "master_brand",
        "lexical_sort_letter"
      ],
      "additionalProperties": false
    },
    "programme": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "enum": [
            "programme",
            "programme_large"
          ]
        },
        "title": {
          "type": "string"
        },
        "tleo_type": {
          "enum": [
            "brand",
            "series",
            "episode"
          ]
        },
        "synopses": {
          "type": "object",
          "properties": {
            "small": {
              "type": "string"
            },
            "medium": {
              "type": "string"
            },
            "large": {
              "type": "string"
            }
          },
          "additionalProperties": false
        },
        "lexical_sort_letter": {
          "type": "string"
        },
        "images": {
          "type": "object",
          "properties": {
            "type": {
              "enum": [
                "image"
              ]
            },
            "standard": {
              "type": "string"
            },
            "inherited_from": {
              "type": "string"
            }
          },
          "required": [
            "type",
            "standard"
          ],
          "additionalProperties": false
        },
        "master_brand": {
          "$ref": "#/definitions/master_brand"
        },
        "suppliers": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "title"
            ]
          },
          "additionalProperties": false
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "enum": [
            "available",
            "unavailable"
          ]
        },
        "count": {
          "type": "number"
        },
        "initial_children": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/episode"
          }
        }
      },
      "required": [
        "id",
        "type",
        "title",
        "synopses",
        "lexical_sort_letter",
        "images",
        "master_brand",
        "suppliers",
        "categories",
        "status",
        "count",
        "initial_children"
      ],
      "additionalProperties": false
    },
    "master_brand": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "titles": {
          "type": "object",
          "properties": {
            "small": {
              "type": "string"
            },
            "medium": {
              "type": "string"
            },
            "large": {
              "type": "string"
            }
          },
          "required": [
            "small",
            "medium",
            "large"
          ],
          "additionalProperties": false
        },
        "ident_id": {
          "type": "string"
        },
        "attribution": {
          "type": "string"
        }
      },
      "required": [
        "id",
        "titles",
        "attribution"
      ],
      "additionalProperties": false
    },
    "group": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "enum": [
            "group",
            "group_large"
          ]
        },
        "title": {
          "type": "string"
        },
        "group_type": {
          "enum": [
            "tleo",
            "curated"
          ]
        },
        "stacked": {
          "type": "boolean"
        },
        "images": {
          "type": "object",
          "properties": {
            "type": {
              "enum": [
                "image"
              ]
            },
            "standard": {
              "type": "string"
            },
            "vertical": {
              "type": "string"
            }
          },
          "required": [
            "type",
            "standard",
            "vertical"
          ],
          "additionalProperties": false
        },
        "episode_sort_direction": {
          "type": "string"
        },
        "synopses": {
          "type": "object",
          "properties": {
            "small": {
              "type": "string"
            },
            "medium": {
              "type": "string"
            },
            "large": {
              "type": "string"
            }
          },
          "additionalProperties": false
        },
        "master_brand": {
          "$ref": "#/definitions/master_brand"
        },
        "related_links": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "title": {
                "type": "string"
              }
            },
            "required": [
              "kind",
              "url",
              "title"
            ],
            "additionalProperties": false
          }
        },
        "initial_children": {
          "type": "array",
          "items": {},
          "x-anyOf": [
            {
              "$ref": "#/definitions/episode"
            },
            {
              "$ref": "#/definitions/broadcast"
            }
          ]
        },
        "count": {
          "type": "number"
        }
      },
      "required": [
        "id",
        "type"
      ],
      "additionalProperties": false
    },
    "broadcast": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "enum": [
            "broadcast"
          ]
        },
        "scheduled_start": {
          "type": "string"
        },
        "scheduled_end": {
          "type": "string"
        },
        "transmission_start": {
          "type": "string"
        },
        "transmission_end": {
          "type": "string"
        },
        "duration": {
          "type": "object",
          "properties": {
            "text": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          },
          "required": [
            "value",
            "text"
          ],
          "additionalProperties": false
        },
        "blanked": {
          "type": "boolean"
        },
        "repeat": {
          "type": "boolean"
        },
        "episode": {
          "$ref": "#/definitions/episode"
        },
        "channel_title": {
          "type": "string"
        }
      },
      "required": [
        "id",
        "type",
        "scheduled_start",
        "scheduled_end",
        "repeat",
        "blanked",
        "episode"
      ],
      "additionalProperties": false
    },
    "promotion": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "enum": [
            "promotion"
          ]
        },
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "synopses": {
          "type": "object",
          "properties": {
            "small": {
              "type": "string"
            },
            "medium": {
              "type": "string"
            },
            "large": {
              "type": "string"
            }
          },
          "additionalProperties": false
        },
        "images": {
          "type": "object",
          "properties": {
            "type": {
              "enum": [
                "image"
              ]
            },
            "standard": {
              "type": "string"
            },
            "inherited_from": {
              "type": "string"
            }
          },
          "required": [
            "type",
            "standard"
          ],
          "additionalProperties": false
        },
        "labels": {
          "type": "object",
          "properties": {
            "promotion": {
              "type": "string"
            }
          },
          "required": [
            "promotion"
          ],
          "additionalProperties": false
        }
      },
      "required": [
        "id",
        "type"
      ],
      "additionalProperties": false
    },
    "trailer": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "enum": [
            "trailer"
          ]
        },
        "title": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "available_now",
            "coming_soon",
            "other"
          ]
        },
        "version_id": {
          "type": "string"
        }
      },
      "required": [
        "id",
        "type",
        "title",
        "kind",
        "version_id"
      ],
      "additionalProperties": false
    },
    "search_group": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "enum": [
            "search_group"
          ]
        },
        "episode": {
          "$ref": "#/definitions/episode"
        }
      },
      "required": [
        "id",
        "type",
        "episode"
      ],
      "additionalProperties": false
    },
    "watching": {
      "type": "object",
      "properties": {
        "urn": {
          "type": "string"
        },
        "type": {
          "enum": [
            "watching"
          ]
        },
        "episode": {
          "$ref": "#/definitions/episode"
        },
        "programme": {
          "$ref": "#/definitions/programme"
        },
        "status": {
          "enum": [
            "current",
            "next"
          ]
        },
        "offset": {
          "type": "number"
        },
        "progress": {
          "type": "number"
        },
        "remaining": {
          "type": "number"
        },
        "has_next": {
          "type": "boolean"
        }
      },
      "required": [
        "type",
        "urn",
        "episode",
        "programme",
        "has_next"
      ],
      "additionalProperties": false
    },
    "user_recommendation": {
      "type": "object",
      "properties": {
        "algorithm": {
          "type": "string"
        },
        "type": {
          "enum": [
            "user_recommendation"
          ]
        },
        "episode": {
          "$ref": "#/definitions/episode"
        }
      },
      "required": [
        "algorithm",
        "type",
        "episode"
      ],
      "additionalProperties": false
    },
    "added": {
      "type": "object",
      "properties": {
        "urn": {
          "type": "string"
        },
        "type": {
          "enum": [
            "added"
          ]
        },
        "programme": {
          "$ref": "#/definitions/programme"
        }
      },
      "required": [
        "urn",
        "type",
        "programme"
      ],
      "additionalProperties": false
    },
    "store_version": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "enum": [
            "store_version"
          ]
        },
        "store_id": {
          "type": "string"
        },
        "store_profile": {
          "type": "string"
        },
        "hd": {
          "type": "boolean"
        },
        "kind": {
          "type": "string"
        },
        "download": {
          "type": "boolean"
        },
        "duration": {
          "type": "object",
          "properties": {
            "text": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          },
          "required": [
            "text",
            "value"
          ],
          "additionalProperties": false
        },
        "guidance": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "text": {
              "type": "object",
              "properties": {
                "small": {
                  "type": "string"
                },
                "medium": {
                  "type": "string"
                },
                "large": {
                  "type": "string"
                }
              },
              "additionalProperties": false
            }
          },
          "required": [
            "id"
          ],
          "additionalProperties": false
        }
      },
      "required": [
        "id",
        "type",
        "store_id",
        "store_profile",
        "hd",
        "download",
        "duration",
        "kind"
      ],
      "additionalProperties": false
    }
  },
  "security": [
    {
      "api_key": []
    }
  ]
}