{
  "openapi": "3.0.2",
  "info": {
    "version": "2.0.0",
    "title": "Radio & Music Services",
    "description": "We encapsulate Radio & Music business logic for iPlayer Radio and BBC Music products on all platforms. We add value by reliably providing the right blend of metadata needed by clients."
  },
  "servers": [
    {
      "url": "https://rms.api.bbc.co.uk",
      "description": "Live"
    },
    {
      "url": "https://rms.api.bbc.co.uk",
      "description": "Test"
    }
  ],
  "paths": {
    "/v2/experience/container/{urn}": {
      "get": {
        "deprecated": true,
        "summary": "Containers Page Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/urn"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Display the container details along with the playable items of the container <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceContainerResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/experience/player/{pid}": {
      "get": {
        "summary": "On Demand Page Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/pid"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Non inline On Demand Experince which consist of display modules of Player and Playqueue. <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/experience/inline/categories": {
      "get": {
        "summary": "Categories Inline Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Inline Experience categories index page <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/experience/inline/container/{urn}": {
      "get": {
        "summary": "Container Inline Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/urn"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/hero-enabled"
          },
          {
            "$ref": "#/components/parameters/tag-enabled"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Apply sort to Container programmes (for category urns only)",
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "popular",
                "title"
              ]
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          },
          {
            "$ref": "#/components/parameters/hero_enabled"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Inline Experience Container page. Brand, Series or Category <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/experience/inline/stations": {
      "get": {
        "summary": "All stations Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Inline All stations Page Experience <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/experience/inline/search": {
      "get": {
        "summary": "Search Inline Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/q"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Inline Experience search results container and playable items as display modules <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/experience/inline/sounds/sign-in": {
      "get": {
        "summary": "Sign in Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Inline Sign in Experience page with Upsell <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/experience/inline/listen/sign-in": {
      "get": {
        "summary": "Sign-in Inline Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "module",
            "in": "query",
            "description": "Apply pagination for module",
            "schema": {
              "type": "string",
              "enum": [
                "priority_brands",
                "music_mixes",
                "collections"
              ]
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/fallback"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Inline Experience sign in page with Upsell at top <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/experience/inline/play/{service_id}": {
      "get": {
        "summary": "Play Live Inline Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/hide"
          },
          {
            "$ref": "#/components/parameters/PollService_id"
          },
          {
            "$ref": "#/components/parameters/fallback"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          },
          {
            "name": "module",
            "in": "query",
            "description": "Apply pagination for module",
            "schema": {
              "type": "string",
              "enum": [
                "play (broadcast summary)",
                "recent_tracks",
                "network_promos"
              ]
            },
            "required": false
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Inline Experience Play Live page used for https://www.bbc.co.uk/sounds/play/live:<network_id> <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/experience/inline/play/{programme_id}": {
      "get": {
        "summary": "Play On Demand Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/hide"
          },
          {
            "$ref": "#/components/parameters/programme_id"
          },
          {
            "$ref": "#/components/parameters/fallback"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          },
          {
            "name": "module",
            "in": "query",
            "description": "Apply pagination for module",
            "schema": {
              "type": "string",
              "enum": [
                "play (programme)",
                "recent_tracks",
                "play_queue"
              ]
            },
            "required": false
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Inline Experience Play On Demand page used for https://www.bbc.co.uk/sounds/play/live:<programme_id> <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/experience/inline/schedules/{service_id}": {
      "get": {
        "summary": "Schedules Inline Experience API by service id",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/PollService_id"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Inline Experience for a service's broadcasts schedule <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/experience/inline/schedules/{service_id}/{date}": {
      "get": {
        "summary": "Schedules Inline Experience API of a service by date",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/PollService_id"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          },
          {
            "$ref": "#/components/parameters/date"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Inline Experience for selected date's & service broadcasts schedule <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "summary": "List of categories",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CategoryKind"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Categories"
        ],
        "description": "Retrieve Categories <span>🎶</span> M83\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoriesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/categories/{id}": {
      "get": {
        "summary": "Category by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CategoryId"
          }
        ],
        "tags": [
          "Categories"
        ],
        "description": "Retrieve Categories by ID <span>🎶</span> M83\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoriesResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/categories": {
      "get": {
        "summary": "List of categories",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CategoryKind"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Categories"
        ],
        "description": "Retrieve Categories <span>🎶</span> M83\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CategoriesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/categories/{id}": {
      "get": {
        "summary": "Category by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CategoryId"
          }
        ],
        "tags": [
          "Categories"
        ],
        "description": "Retrieve category <span>🎶</span> M83\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/categories/container": {
      "get": {
        "summary": "List of container categories",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CategoryKind"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Categories"
        ],
        "description": "Retrieve Sounds supported categories in container item form <span>🎶</span> M83\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerItemsPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/categories/{id}/container": {
      "get": {
        "summary": "Container category by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CategoryId"
          }
        ],
        "tags": [
          "Categories"
        ],
        "description": "Retrieve category container <span>🎶</span> M83\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerItem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/radio/networks.json": {
      "get": {
        "summary": "Networks",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "preset",
            "in": "query",
            "description": "Returns all networks needed for iPlayer Radio responsive web navigation",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "name": "international",
            "in": "query",
            "description": "Returns all networks available internationally",
            "schema": {
              "type": "boolean"
            },
            "required": false
          }
        ],
        "tags": [
          "Networks"
        ],
        "description": "All iPlayer Radio networks - contains business logic for masterbrand and service relationships <span>🎶</span> Half Japanese\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworksResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/networks": {
      "get": {
        "summary": "List of networks",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/coverage"
          },
          {
            "$ref": "#/components/parameters/promoted"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/experience"
          }
        ],
        "tags": [
          "Networks"
        ],
        "description": "Provides the list of all the v2 networks <span>🎶</span> Green Day\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2NetworksResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/networks/playable": {
      "get": {
        "summary": "List of playable networks",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/coverage"
          },
          {
            "$ref": "#/components/parameters/promoted"
          },
          {
            "$ref": "#/components/parameters/experience"
          }
        ],
        "tags": [
          "Networks"
        ],
        "description": "Provides the list of all the playable networks <span>🎶</span> Green Day\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/networks/{id}": {
      "get": {
        "summary": "Network by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "tags": [
          "Networks"
        ],
        "description": "Provides the V2 network by network ID. <span>🎶</span> Green Day\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2Network"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/networks/{id}/playable": {
      "get": {
        "summary": "Playable network by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/NetworkId"
          }
        ],
        "tags": [
          "Networks"
        ],
        "description": "Provides the network playable item by network ID. <span>🎶</span> Green Day\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/networks/{id}/promos/display": {
      "get": {
        "summary": "Display promos by network ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/NetworkId"
          }
        ],
        "tags": [
          "Networks"
        ],
        "description": "Provides diplay promos items for a network ID. <span>🎶</span> Green Day\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisplayItemsResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/networks/{id}/promos/display/container": {
      "get": {
        "summary": "Display promos container by network ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/NetworkId"
          }
        ],
        "tags": [
          "Networks"
        ],
        "description": "Provides a container item for the display promos. <span>🎶</span> Green Day\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerItem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/networks/{id}/promos/playable": {
      "get": {
        "summary": "Playable promos by network ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/experience"
          }
        ],
        "tags": [
          "Networks"
        ],
        "description": "Provides playable items by promos for a network ID. <span>🎶</span> Green Day\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/networks/{id}/promos/playable/container": {
      "get": {
        "summary": "Playable promos container by network ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/NetworkId"
          }
        ],
        "tags": [
          "Networks"
        ],
        "description": "Provides a container item for the playable promos. <span>🎶</span> Green Day\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerItem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/services/{sid}/tracks/latest/playable": {
      "get": {
        "summary": "List of recently playable tracks",
        "parameters": [
          {
            "$ref": "#/components/parameters/sid"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Tracks"
        ],
        "description": "Retrieve list of tracks as playable items for a service <span>🎶</span> Deftones\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/versions/{vpid}/tracks/display": {
      "get": {
        "summary": "List of on demand tracks",
        "parameters": [
          {
            "$ref": "#/components/parameters/vpid"
          }
        ],
        "tags": [
          "Tracks"
        ],
        "description": "Retrieve list of on demand tracks as display items for a version id <span>🎶</span> Deftones\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisplayItemsResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/services/{sid}/segments/latest": {
      "get": {
        "summary": "List of latest segments",
        "parameters": [
          {
            "$ref": "#/components/parameters/sid"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Tracks"
        ],
        "description": "Retrieve list of Music and Classical segments for a service <span>🎶</span> Deftones\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentsPaginatedResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/versions/{vpid}/segments": {
      "get": {
        "summary": "List of on demand tracks",
        "parameters": [
          {
            "$ref": "#/components/parameters/vpid"
          }
        ],
        "tags": [
          "Tracks"
        ],
        "description": "Retrieve list of on demand tracks as segments for a version id <span>🎶</span> Deftones\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentsResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/broadcasts": {
      "get": {
        "summary": "Broadcasts",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "service",
            "in": "query",
            "description": "Filter by Service ID. E.g. bbc_radio_fourfm",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Filter by date. E.g. 2016-06-17",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by provided query. E.g. 'start_at' sorts in ascending order, and '-start_at' sorts in descending order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "start_at",
                "-start_at",
                "end_at",
                "-end_at"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Broadcasts"
        ],
        "description": "All broadcasts <span>🎶</span> Guns & Roses\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/broadcasts/{pid}": {
      "get": {
        "summary": "Broadcasts by PID",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "pid",
            "in": "path",
            "description": "Broadcast id",
            "schema": {
              "type": "string"
            },
            "example": "p01lhbfm",
            "required": true
          }
        ],
        "tags": [
          "Broadcasts"
        ],
        "description": "Find broadcast by PID <span>🎶</span> Guns & Roses\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastsResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/broadcasts/latest": {
      "get": {
        "summary": "Latest Broadcasts",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/BroadcastService"
          },
          {
            "name": "on_air",
            "in": "query",
            "description": "Filter what is on air. E.g. 'now' returns current programme being broadcasted.",
            "schema": {
              "type": "string",
              "enum": [
                "now",
                "previous",
                "next"
              ]
            }
          },
          {
            "name": "next",
            "in": "query",
            "description": "Filter what will be on air next in minutes. E.g. '240' returns programmes broadcasted in the next four hours",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "previous",
            "in": "query",
            "description": "Filter what was on air previously in minutes. E.g. '240' returns programmes broadcasted in the previous four hours",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/BroadcastSort"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Broadcasts"
        ],
        "description": "Broadcasts for the current day <span>🎶</span> Guns & Roses\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/broadcasts/poll/{service_id}": {
      "get": {
        "summary": "Polled Broadcasts by serviceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/PollService_id"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/experience"
          }
        ],
        "tags": [
          "Broadcasts"
        ],
        "description": "Provide 5 upcoming broadcasts for a network service <span>🎶</span> Guns & Roses\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PollBroadcastsSummaryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/broadcasts/schedules/{service_id}/{date}": {
      "get": {
        "summary": "Broadcasts'schedule for a given date and service",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/PollService_id"
          },
          {
            "$ref": "#/components/parameters/date"
          },
          {
            "$ref": "#/components/parameters/experience"
          }
        ],
        "tags": [
          "Broadcasts"
        ],
        "description": "Broadcasts schedule for a given service and date which is in next 7 or 30 previous days <span>🎶</span> Guns & Roses\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastsSummaryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/broadcasts/poll/{service_id}": {
      "get": {
        "summary": "Personalised Polled Broadcasts by serviceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/PollService_id"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/experience"
          }
        ],
        "tags": [
          "Broadcasts"
        ],
        "description": "Provide 5 upcoming broadcasts for a network service with personalised data <span>🎶</span> Guns & Roses\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/items": {
      "get": {
        "summary": "Container & Playable Programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/network"
          },
          {
            "$ref": "#/components/parameters/networkUrlKey"
          },
          {
            "$ref": "#/components/parameters/category"
          },
          {
            "$ref": "#/components/parameters/parent"
          },
          {
            "$ref": "#/components/parameters/container"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filter by provided query. E.g. 'tleo' returns top level objects, ie. brands, orphaned series, and orphaned episodes",
            "schema": {
              "type": "string",
              "enum": [
                "tleo"
              ]
            },
            "required": false
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by programme type. Accepts comma separated values",
            "schema": {
              "type": "string",
              "enum": [
                "brand",
                "series",
                "episode",
                "clip",
                "brand,series",
                "episode,clip"
              ]
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Provides a paginated list of programmes (brands, series, episodes and clips).\nAccepts various filters and sorting methods. <span>🎶</span> Blur\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemsPaginatedResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/items/playable": {
      "get": {
        "summary": "Playable Programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/network"
          },
          {
            "$ref": "#/components/parameters/networkUrlKey"
          },
          {
            "$ref": "#/components/parameters/category"
          },
          {
            "$ref": "#/components/parameters/parent"
          },
          {
            "$ref": "#/components/parameters/container"
          },
          {
            "$ref": "#/components/parameters/experience"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by programme type.",
            "schema": {
              "type": "string",
              "enum": [
                "episode",
                "clip"
              ]
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Provides a paginated list of playable programmes (episodes and clips).\nAccepts various filters and sorting methods. <span>🎶</span> Blur\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/playable": {
      "get": {
        "summary": "Playable Programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/network"
          },
          {
            "$ref": "#/components/parameters/networkUrlKey"
          },
          {
            "$ref": "#/components/parameters/category"
          },
          {
            "$ref": "#/components/parameters/parent"
          },
          {
            "$ref": "#/components/parameters/container"
          },
          {
            "$ref": "#/components/parameters/tleoDistinct"
          },
          {
            "$ref": "#/components/parameters/experience"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by programme type. Accepts comma separated values",
            "schema": {
              "type": "string",
              "enum": [
                "episode",
                "clip"
              ]
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Provides a paginated list of playable programmes (episodes and clips).\nAccepts various filters and sorting methods. When sorting by popularity, this parameter only works with the category filter<span>🎶</span> Blur\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/{pid}/item": {
      "get": {
        "summary": "Single Container or Playable Programme By Pid",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/pid"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Returns single container or playable item by a programme id <span>🎶</span> Nirvana\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/{pid}/playable": {
      "get": {
        "summary": "Single Playable Programme By Pid",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/pid"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Returns single playable item by a programme id <span>🎶</span> Nirvana\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/playqueue/{pid}": {
      "get": {
        "summary": "Play Queue",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/pid"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "provides the list of playable items as playqueue based on the programme id <span>🎶</span> Boyzone\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/search/items/playable": {
      "get": {
        "summary": "Search Playable Programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/q"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Provides search keywords results as list of playable items <span>🎶</span> The Seekers\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/search/items/container": {
      "get": {
        "summary": "Search Container Programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/q"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Provides search keywords results as list of container items <span>🎶</span> The Seekers\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerItemsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/collections/{pid}/container": {
      "get": {
        "summary": "Single Container Collection By Pid",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CollectionPid"
          }
        ],
        "tags": [
          "Collections"
        ],
        "description": "Collection container item for a collection pid <span>🎶</span> Depeche Mode\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerItem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/collections/{pid}/members": {
      "get": {
        "summary": "Collection Members",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CollectionPid"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Collections"
        ],
        "description": "All member items from Collection <span>🎶</span> Depeche Mode\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemsPaginatedResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/collections/{pid}/members/playable": {
      "get": {
        "summary": "Collection Playable Members",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CollectionPid"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Collections"
        ],
        "description": "Playable Items from Collection <span>🎶</span> Depeche Mode\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/collections/{pid}/members/container": {
      "get": {
        "summary": "Collection Container Members",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CollectionPid"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Collections"
        ],
        "description": "Container Items from Collection <span>🎶</span> Depeche Mode\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerItemsResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/collections/{pid}/members/latest/playable": {
      "get": {
        "summary": "Collection Latest Playable Members",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CollectionPid"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Collections"
        ],
        "description": "Latest Playable Items from Collection <span>🎶</span> Depeche Mode\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/experience/car": {
      "get": {
        "summary": "Index In-car Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Index In-car Experience <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceViewResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/podcasts": {
      "get": {
        "summary": "All Podcasts",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/podcastsort"
          },
          {
            "name": "network",
            "in": "query",
            "description": "Network Master Brand ID (mid)",
            "schema": {
              "type": "string",
              "example": "bbc_radio_one"
            },
            "required": false
          },
          {
            "name": "network_url_key",
            "in": "query",
            "description": "Network URL key",
            "schema": {
              "type": "string",
              "example": "radio1"
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/category"
          },
          {
            "$ref": "#/components/parameters/q"
          },
          {
            "$ref": "#/components/parameters/coverage"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Podcasts"
        ],
        "description": "Retrieve all Podcasts <span>🎶</span> Cast\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PodcastsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/podcasts/featured": {
      "get": {
        "summary": "Featured Podcasts",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Podcasts"
        ],
        "description": "Retrieve featured podcasts <span>🎶</span> Cast\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PodcastsFeaturedResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/podcasts/{pid}": {
      "get": {
        "summary": "Podcast",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/PodcastPid"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Podcasts"
        ],
        "description": "Retrieve data about the podcast with the supplied PID <span>🎶</span> Cast\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PodcastsResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/podcasts/{pid}/episodes": {
      "get": {
        "summary": "Podcast Episodes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/PodcastPid"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Podcasts"
        ],
        "description": "Retrieve all episodes for a specific podcast <span>🎶</span> Cast\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PodcastEpisodesResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/podcasts/{pid}/episodes/playable": {
      "get": {
        "summary": "Podcast Episodes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/PodcastPid"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Podcasts"
        ],
        "description": "Retrieve all episodes for a specific podcast as Playable items <span>🎶</span> Cast\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/radio/programmes": {
      "get": {
        "deprecated": true,
        "summary": "Radio programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/network"
          },
          {
            "$ref": "#/components/parameters/networkUrlKey"
          },
          {
            "$ref": "#/components/parameters/category"
          },
          {
            "$ref": "#/components/parameters/container"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filter by provided query. E.g. 'tleo' returns top level objects, ie. brands, orphaned series, and orphaned episodes",
            "schema": {
              "type": "string",
              "enum": [
                "tleo"
              ]
            },
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by provided query. E.g. 'title' sorts in ascending order, and -title sorts in descending order",
            "schema": {
              "type": "string",
              "enum": [
                "available_from_date",
                "-available_from_date",
                "title",
                "-title"
              ]
            },
            "required": false
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by programme type. Accepts comma separated values",
            "schema": {
              "type": "string",
              "enum": [
                "brand",
                "series",
                "episode",
                "clip",
                "episode,clip",
                "brand,series"
              ]
            },
            "required": false
          },
          {
            "name": "media_type",
            "in": "query",
            "description": "Filter by media type (audio_video will return video values)",
            "schema": {
              "type": "string",
              "enum": [
                "audio",
                "video",
                "audio_video"
              ]
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Provides a paginated list of programmes by PID (brand, series, episode and clip). Accepts various filters and sorting methods. <span>🎶</span> Blur\n",
        "operationId": "getRadioProgrammes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgrammesResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/radio/programmes/{pid}": {
      "get": {
        "deprecated": true,
        "summary": "Available radio programme by Pid",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/pid"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Find programmes by PID (brand, series, episode and clip) <span>🎶</span> Blur\n",
        "operationId": "getRadioProgrammesByPid",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgrammesResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/activities": {
      "post": {
        "summary": "Write Activity",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "description": "Body for the activities follow or favourites",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urn": {
                    "type": "string",
                    "example": "urn:bbc:radio:episode:b08vxv2w"
                  }
                },
                "required": [
                  "urn"
                ]
              }
            }
          }
        },
        "tags": [
          "Personalised Activities"
        ],
        "description": "Accepts the URN as body and start process write activity to UAS <span>🎶</span> Stereophonics\n",
        "responses": {
          "202": {
            "$ref": "#/components/responses/TextResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/activities/{urn}": {
      "delete": {
        "summary": "Delete Activity",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/urn"
          }
        ],
        "tags": [
          "Personalised Activities"
        ],
        "description": "Accepts the URN and start process delete activity from UAS <span>🎶</span> Stereophonics\n",
        "responses": {
          "202": {
            "$ref": "#/components/responses/TextResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/collections/{pid}/members/playable": {
      "get": {
        "summary": "Personalised Collection Playable Members",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CollectionPid"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Collections"
        ],
        "description": "Personalised Playable Items from Collection <span>🎶</span> Depeche Mode\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/collections/{pid}/members/container": {
      "get": {
        "summary": "Personalised Collection Containers",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CollectionPid"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Collections"
        ],
        "description": "Personalised collection container item for a collection pid <span>🎶</span> Depeche Mode\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/collections/{pid}/members/latest/playable": {
      "get": {
        "summary": "Personalised Collection Latest Playable Members",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CollectionPid"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Collections"
        ],
        "description": "Personalised Latest Playable Items from Collection <span>🎶</span> Depeche Mode\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/inline/categories": {
      "get": {
        "summary": "Personalised Categories Inline Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Personalised Inline Experience categories index page <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/inline/container/{urn}": {
      "get": {
        "summary": "Personalised Container Inline Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/urn"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Apply sort to Container programmes (for category urns only)",
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "popular",
                "title"
              ]
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          },
          {
            "$ref": "#/components/parameters/hero_enabled"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Personalised Inline Experience Container page. Brand, Series or Category <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/inline/listen": {
      "get": {
        "summary": "Listen Page Inline Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "module",
            "in": "query",
            "description": "Apply pagination for module",
            "schema": {
              "type": "string",
              "enum": [
                "priority_brands",
                "music_mixes",
                "collections",
                "recommendations",
                "listen_later"
              ]
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/fallback"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          },
          {
            "$ref": "#/components/parameters/X-international-experience-name"
          },
          {
            "$ref": "#/components/parameters/X-forwarded-for"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Inline Experience listen page API <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/inline/play/{service_id}": {
      "get": {
        "summary": "Personalised Live Play Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/PollService_id"
          },
          {
            "$ref": "#/components/parameters/fallback"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          },
          {
            "name": "module",
            "in": "query",
            "description": "Apply pagination for module",
            "schema": {
              "type": "string",
              "enum": [
                "play (broadcast summary)",
                "recent_tracks",
                "network_promos",
                "recommendations"
              ]
            },
            "required": false
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Personalised Inline Experience Live Play page used for https://www.bbc.co.uk/sounds/play/live:<network_id> <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/inline/play/{programme_id}": {
      "get": {
        "summary": "Personalised On Demand Play Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/hide"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/programme_id"
          },
          {
            "$ref": "#/components/parameters/fallback"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          },
          {
            "name": "module",
            "in": "query",
            "description": "Apply pagination for module",
            "schema": {
              "type": "string",
              "enum": [
                "play (programme)",
                "recent_tracks",
                "play_queue",
                "recommendations"
              ]
            },
            "required": false
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Personalised Inline Experience On Demand page used for https://www.bbc.co.uk/sounds/play/live:<programme_id> <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/inline/sounds": {
      "get": {
        "summary": "My Sounds Inline Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "module",
            "in": "query",
            "description": "Apply pagination for module",
            "schema": {
              "type": "string",
              "enum": [
                "favourites",
                "follows",
                "latest"
              ]
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/fallback"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Inline My Sounds Experience API <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/inline/search": {
      "get": {
        "summary": "Personalised Search Inline Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          },
          {
            "$ref": "#/components/parameters/q"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Personalised Inline Experience search results container and playable items as display modules <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/player/{pid}": {
      "get": {
        "summary": "Personalised On Demand Page Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/pid"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Non inline personalised On Demand Experince which consist of display modules of Player, Playqueue and Recommendations. <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/container/{urn}": {
      "get": {
        "summary": "Personalised Containers Page Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/urn"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Display the container details along with the personalised playable items of the container <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceContainerResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/playable/{urn}": {
      "get": {
        "summary": "Personalised episode details",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/urn"
          },
          {
            "$ref": "#/components/parameters/X-Experiments"
          },
          {
            "$ref": "#/components/parameters/X-international-experience-name"
          },
          {
            "$ref": "#/components/parameters/X-forwarded-for"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Personalised episode details feed which consist of Episode Details and Track List <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/car/browse": {
      "get": {
        "summary": "Browse page Inline Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Inline Experience in-car browse page API <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/experiment-attributes": {
      "get": {
        "summary": "<Temporary> User attributes per experiments",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          }
        ],
        "tags": [
          "Experience",
          "Experiments"
        ],
        "description": "Temporary experiment attributes per user Experience <span>🎶</span> Jimi Hendrix\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceExperimentsAttributesResponse"
                }
              }
            }
          },
          "401": {
            "404": {
              "$ref": "#/components/responses/Notfound"
            },
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/programmes/plays": {
      "post": {
        "summary": "Write Play Event",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "description": "Body for the play data event",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "started",
                      "ended",
                      "paused",
                      "heartbeat"
                    ]
                  },
                  "resource_type": {
                    "type": "string",
                    "enum": [
                      "episode",
                      "clip"
                    ]
                  },
                  "play_mode": {
                    "type": "string",
                    "enum": [
                      "live"
                    ]
                  },
                  "pid": {
                    "type": "string",
                    "example": "b08vxv2w"
                  },
                  "version_pid": {
                    "type": "string",
                    "example": "b08vxtj4"
                  },
                  "elapsed_time": {
                    "type": "integer",
                    "example": 80
                  }
                },
                "required": [
                  "action",
                  "resource_type",
                  "pid",
                  "version_pid",
                  "elapsed_time"
                ]
              }
            }
          }
        },
        "tags": [
          "Personalised Programmes"
        ],
        "description": "Accepts the play data & start processing write action to UAS <span>🎶</span> Pendulum\n",
        "responses": {
          "202": {
            "$ref": "#/components/responses/TextResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/programmes/plays/playable": {
      "get": {
        "summary": "List of played programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Personalised Programmes"
        ],
        "description": "provides list of play history in playable items for a user <span>🎶</span> Oasis\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/programmes/favourites/playable": {
      "get": {
        "summary": "List of favourite programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Personalised Programmes"
        ],
        "description": "Returns list of programmes favourited by user <span>🎶</span> Oasis\n",
[...]
