{
  "openapi": "3.0.1",
  "info": {
    "version": "2.0.0",
    "title": "Radio & Music Services",
    "description": "We encapsulate Radio & Music business logic for iPlayer Radio and BBC Music products on all platforms. We add value by reliably providing the right blend of metadata needed by clients."
  },
  "servers": [
    {
      "url": "https://rms.api.bbc.co.uk",
      "description": "Live"
    },
    {
      "url": "https://rms.api.bbc.co.uk",
      "description": "Test"
    }
  ],
  "paths": {
    "/v2/experience/container/{urn}": {
      "get": {
        "deprecated": true,
        "summary": "Containers Page Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/urn"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Display the container details along with the playable items of the container\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceContainerResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/experience/playqueue/{pid}": {
      "get": {
        "summary": "On Demand Page Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/pid"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Non inline On Demand Experince which consist of display modules of Player and Playqueue.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/experience/stations": {
      "get": {
        "summary": "Stations Page Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Non inline Experience Stations API with Promoted and Local stations display module.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/experience/listen/sign-in": {
      "get": {
        "summary": "Sign in Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Non inline Sign in Experience page with Upsell\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/experience/inline/search": {
      "get": {
        "summary": "Search Inline Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/q"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Inline Experience search results container and playable items as display modules\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/experience/inline/sounds/sign-in": {
      "get": {
        "summary": "Sign in Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Inline Sign in Experience page with Upsell\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "summary": "List of categories",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CategoryKind"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Categories"
        ],
        "description": "Retrieve Categories\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoriesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/categories/{id}": {
      "get": {
        "summary": "Category by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CategoryId"
          }
        ],
        "tags": [
          "Categories"
        ],
        "description": "Retrieve Categories by ID\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoriesResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/categories": {
      "get": {
        "summary": "List of categories",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CategoryKind"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Categories"
        ],
        "description": "Retrieve Categories\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CategoriesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/categories/{id}": {
      "get": {
        "summary": "Category by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CategoryId"
          }
        ],
        "tags": [
          "Categories"
        ],
        "description": "Retrieve category\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/categories/container": {
      "get": {
        "summary": "List of container categories",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CategoryKind"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Categories"
        ],
        "description": "Retrieve Sounds supported categories in container item form\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerItemsPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/categories/{id}/container": {
      "get": {
        "summary": "Container category by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CategoryId"
          }
        ],
        "tags": [
          "Categories"
        ],
        "description": "Retrieve category container\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerItem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/radio/networks.json": {
      "get": {
        "summary": "Networks",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "preset",
            "in": "query",
            "description": "Returns all networks needed for iPlayer Radio responsive web navigation",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "name": "international",
            "in": "query",
            "description": "Returns all networks available internationally",
            "schema": {
              "type": "boolean"
            },
            "required": false
          }
        ],
        "tags": [
          "Networks"
        ],
        "description": "All iPlayer Radio networks - contains business logic for masterbrand and service relationships\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworksResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/networks": {
      "get": {
        "summary": "List of networks",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/coverage"
          },
          {
            "$ref": "#/components/parameters/promoted"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Networks"
        ],
        "description": "Provides the list of all the v2 networks\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2NetworksResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/networks/playable": {
      "get": {
        "summary": "List of playable networks",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/coverage"
          },
          {
            "$ref": "#/components/parameters/promoted"
          }
        ],
        "tags": [
          "Networks"
        ],
        "description": "Provides the list of all the playable networks\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/networks/{id}": {
      "get": {
        "summary": "Network by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "tags": [
          "Networks"
        ],
        "description": "Provides the V2 network by network ID.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2Network"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/networks/{id}/playable": {
      "get": {
        "summary": "Playable network by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/NetworkId"
          }
        ],
        "tags": [
          "Networks"
        ],
        "description": "Provides the network playable item by network ID.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/services/{sid}/tracks/latest/playable": {
      "get": {
        "summary": "List of recently playable tracks",
        "parameters": [
          {
            "$ref": "#/components/parameters/sid"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Services"
        ],
        "description": "Retrieve list of tracks as playable items for a service\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/versions/{vpid}/tracks/playable": {
      "get": {
        "summary": "List of on demand tracks",
        "parameters": [
          {
            "$ref": "#/components/parameters/vpid"
          }
        ],
        "tags": [
          "Versions"
        ],
        "description": "Retrieve list of on demand tracks as playable items for a version id\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/broadcasts": {
      "get": {
        "summary": "Broadcasts",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "service",
            "in": "query",
            "description": "Filter by Service ID. E.g. bbc_radio_fourfm",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Filter by date. E.g. 2016-06-17",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by provided query. E.g. 'start_at' sorts in ascending order, and '-start_at' sorts in descending order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "start_at",
                "-start_at",
                "end_at",
                "-end_at"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Broadcasts"
        ],
        "description": "All broadcasts\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/broadcasts/{pid}": {
      "get": {
        "summary": "Broadcasts by PID",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "pid",
            "in": "path",
            "description": "Broadcast id",
            "schema": {
              "type": "string"
            },
            "example": "p01lhbfm",
            "required": true
          }
        ],
        "tags": [
          "Broadcasts"
        ],
        "description": "Find broadcast by PID\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastsResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/broadcasts/latest": {
      "get": {
        "summary": "Latest Broadcasts",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/BroadcastService"
          },
          {
            "name": "on_air",
            "in": "query",
            "description": "Filter what is on air. E.g. 'now' returns current programme being broadcasted.",
            "schema": {
              "type": "string",
              "enum": [
                "now",
                "previous",
                "next"
              ]
            }
          },
          {
            "name": "next",
            "in": "query",
            "description": "Filter what will be on air next in minutes. E.g. '240' returns programmes broadcasted in the next four hours",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "previous",
            "in": "query",
            "description": "Filter what was on air previously in minutes. E.g. '240' returns programmes broadcasted in the previous four hours",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/BroadcastSort"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Broadcasts"
        ],
        "description": "Broadcasts for the current day\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/broadcasts/poll/{service_id}": {
      "get": {
        "summary": "Polled Broadcasts by serviceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/PollService_id"
          }
        ],
        "tags": [
          "Broadcasts"
        ],
        "description": "Provide 5 upcoming broadcasts for a network service\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/broadcasts/poll/{service_id}": {
      "get": {
        "summary": "Personalised Polled Broadcasts by serviceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/PollService_id"
          }
        ],
        "tags": [
          "Broadcasts"
        ],
        "description": "Provide 5 upcoming broadcasts for a network service with personalised data\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes": {
      "get": {
        "summary": "Programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/network"
          },
          {
            "$ref": "#/components/parameters/networkUrlKey"
          },
          {
            "$ref": "#/components/parameters/category"
          },
          {
            "$ref": "#/components/parameters/container"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filter by provided query. E.g. 'tleo' returns top level objects, ie. brands, orphaned series, and orphaned episodes",
            "schema": {
              "type": "string",
              "enum": [
                "tleo"
              ]
            },
            "required": false
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by programme type. Accepts comma separated values",
            "schema": {
              "type": "string",
              "enum": [
                "brand",
                "series",
                "episode",
                "clip",
                "episode,clip"
              ]
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Provides a paginated list of programmes.\nAccepts various filters and sorting methods.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Programmes"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/items": {
      "get": {
        "summary": "Container & Playable Programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/network"
          },
          {
            "$ref": "#/components/parameters/networkUrlKey"
          },
          {
            "$ref": "#/components/parameters/category"
          },
          {
            "$ref": "#/components/parameters/parent"
          },
          {
            "$ref": "#/components/parameters/container"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filter by provided query. E.g. 'tleo' returns top level objects, ie. brands, orphaned series, and orphaned episodes",
            "schema": {
              "type": "string",
              "enum": [
                "tleo"
              ]
            },
            "required": false
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by programme type. Accepts comma separated values",
            "schema": {
              "type": "string",
              "enum": [
                "brand",
                "series",
                "episode",
                "clip",
                "brand,series",
                "episode,clip"
              ]
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Provides a paginated list of programmes (brands, series, episodes and clips).\nAccepts various filters and sorting methods.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemsPaginatedResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/items/playable": {
      "get": {
        "summary": "Playable Programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/network"
          },
          {
            "$ref": "#/components/parameters/networkUrlKey"
          },
          {
            "$ref": "#/components/parameters/category"
          },
          {
            "$ref": "#/components/parameters/parent"
          },
          {
            "$ref": "#/components/parameters/container"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by programme type.",
            "schema": {
              "type": "string",
              "enum": [
                "episode",
                "clip"
              ]
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Provides a paginated list of playable programmes (episodes and clips).\nAccepts various filters and sorting methods.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/playable": {
      "get": {
        "summary": "Playable Programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/network"
          },
          {
            "$ref": "#/components/parameters/networkUrlKey"
          },
          {
            "$ref": "#/components/parameters/category"
          },
          {
            "$ref": "#/components/parameters/parent"
          },
          {
            "$ref": "#/components/parameters/container"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by programme type. Accepts comma separated values",
            "schema": {
              "type": "string",
              "enum": [
                "episode",
                "clip"
              ]
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Provides a paginated list of playable programmes (episodes and clips).\nAccepts various filters and sorting methods.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/{pid}": {
      "get": {
        "summary": "Single Programme By Pid",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/pid"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Returns single programme details by a programme id\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Programme"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/{pid}/item": {
      "get": {
        "summary": "Single Container or Playable Programme By Pid",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/pid"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Returns single container or playable item by a programme id\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/{pid}/playable": {
      "get": {
        "summary": "Single Playable Programme By Pid",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/pid"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Returns single playable item by a programme id\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/playqueue/{pid}": {
      "get": {
        "summary": "Play Queue",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/pid"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "provides the list of playable items as playqueue based on the programme id\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/search/playable": {
      "get": {
        "deprecated": true,
        "summary": "Search Playable Programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/q"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Provides search keywords results as list of playable items\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/search/items": {
      "get": {
        "summary": "Search Container & Playable Programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/q"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Provides search keywords results as list of playable and container items\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/search/items/playable": {
      "get": {
        "summary": "Search Playable Programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/q"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Provides search keywords results as list of playable items\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/programmes/search/items/container": {
      "get": {
        "summary": "Search Container Programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/q"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Provides search keywords results as list of container items\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerItemsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/collections/{pid}/container": {
      "get": {
        "summary": "Single Container Collection By Pid",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CollectionPid"
          }
        ],
        "tags": [
          "Collections"
        ],
        "description": "Collection container item for a collection pid\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerItem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/collections/{pid}/members/playable": {
      "get": {
        "summary": "Collection Playable Members",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CollectionPid"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Collections"
        ],
        "description": "Playable Items from Collection\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/collections/{pid}/members/container": {
      "get": {
        "summary": "Collection Container Members",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CollectionPid"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Collections"
        ],
        "description": "Container Items from Collection\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerItemsResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/podcasts": {
      "get": {
        "summary": "All Podcasts",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/podcastsort"
          },
          {
            "name": "network",
            "in": "query",
            "description": "Network Master Brand ID (mid)",
            "schema": {
              "type": "string",
              "example": "bbc_radio_one"
            },
            "required": false
          },
          {
            "name": "network_url_key",
            "in": "query",
            "description": "Network URL key",
            "schema": {
              "type": "string",
              "example": "radio1"
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/category"
          },
          {
            "$ref": "#/components/parameters/q"
          },
          {
            "$ref": "#/components/parameters/coverage"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Podcasts"
        ],
        "description": "Retrieve all Podcasts\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PodcastsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/podcasts/featured": {
      "get": {
        "summary": "Featured Podcasts",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Podcasts"
        ],
        "description": "Retrieve featured podcasts\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PodcastsFeaturedResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/podcasts/{pid}": {
      "get": {
        "summary": "Podcast",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/PodcastPid"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Podcasts"
        ],
        "description": "Retrieve data about the podcast with the supplied PID\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PodcastsResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/podcasts/{pid}/episodes": {
      "get": {
        "summary": "Podcast Episodes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/PodcastPid"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Podcasts"
        ],
        "description": "Retrieve all episodes for a specific podcast\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PodcastEpisodesResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/podcasts/{pid}/episodes/playable": {
      "get": {
        "summary": "Podcast Episodes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/PodcastPid"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Podcasts"
        ],
        "description": "Retrieve all episodes for a specific podcast as Playable items\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/radio/popular": {
      "get": {
        "summary": "Popular Episodes & Clips",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/network"
          },
          {
            "$ref": "#/components/parameters/networkUrlKey"
          },
          {
            "$ref": "#/components/parameters/category"
          },
          {
            "$ref": "#/components/parameters/container"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Programme type required. Accepts comma separated values",
            "schema": {
              "type": "string",
              "enum": [
                "episode",
                "clip",
                "episode,clip"
              ]
            },
            "required": false
          },
          {
            "name": "distinct",
            "in": "query",
            "description": "Filter by deduplication rule. E.g. 'tleo' returns programmes with distinct top level episode objects",
            "schema": {
              "type": "string",
              "enum": [
                "tleo"
              ]
            },
            "required": false
          },
          {
            "name": "format",
            "in": "query",
            "description": "Filter by format. Accepts comma separated values",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "group",
            "in": "query",
            "description": "Filter by group. Accepts comma separated values",
            "schema": {
              "type": "string",
              "enum": [
                "tv",
                "radio",
                "tv,radio"
              ]
            },
            "required": false
          },
          {
            "name": "media_type",
            "in": "query",
            "description": "Filter by programme media type. Accepts comma separated values",
            "schema": {
              "type": "string",
              "enum": [
                "audio",
                "video",
                "audio,video"
              ]
            },
            "required": false
          },
          {
            "name": "media_set",
            "in": "query",
            "description": "Filter by media set name. Accepts comma separated combinations of the following: pc,mobile-download,android-download-high,apple-ios-download-high,mobile-cellular-main,mobile-phone-main,iptv-all",
            "schema": {
              "type": "string",
              "enum": [
                "pc",
                "mobile-download",
                "android-download-high",
                "apple-ios-download-high",
                "mobile-cellular-main",
                "mobile-phone-main",
                "iptv-all"
              ]
            },
            "required": false
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search keyword",
            "schema": {
              "type": "string",
              "example": "archers"
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Retrieve Popular Episodes & Clips\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PopularResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/radio/programmes": {
      "get": {
        "deprecated": true,
        "summary": "Radio programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/network"
          },
          {
            "$ref": "#/components/parameters/networkUrlKey"
          },
          {
            "$ref": "#/components/parameters/category"
          },
          {
            "$ref": "#/components/parameters/container"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filter by provided query. E.g. 'tleo' returns top level objects, ie. brands, orphaned series, and orphaned episodes",
            "schema": {
              "type": "string",
              "enum": [
                "tleo"
              ]
            },
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by provided query. E.g. 'title' sorts in ascending order, and -title sorts in descending order",
            "schema": {
              "type": "string",
              "enum": [
                "available_from_date",
                "-available_from_date",
                "title",
                "-title"
              ]
            },
            "required": false
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by programme type. Accepts comma separated values",
            "schema": {
              "type": "string",
              "enum": [
                "brand",
                "series",
                "episode",
                "clip",
                "episode,clip",
                "brand,series"
              ]
            },
            "required": false
          },
          {
            "name": "media_type",
            "in": "query",
            "description": "Filter by media type (audio_video will return video values)",
            "schema": {
              "type": "string",
              "enum": [
                "audio",
                "video",
                "audio_video"
              ]
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Provides a paginated list of programmes by PID (brand, series, episode and clip). Accepts various filters and sorting methods.\n",
        "operationId": "getRadioProgrammes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgrammesResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/radio/programmes/{pid}": {
      "get": {
        "deprecated": true,
        "summary": "Available radio programme by Pid",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/pid"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Find programmes by PID (brand, series, episode and clip)\n",
        "operationId": "getRadioProgrammesByPid",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgrammesResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/activities": {
      "post": {
        "summary": "Write Activity",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "description": "Body for the activities follow or favourites",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urn": {
                    "type": "string",
                    "example": "urn:bbc:radio:episode:b08vxv2w"
                  }
                },
                "required": [
                  "urn"
                ]
              }
            }
          }
        },
        "tags": [
          "Personalised Activities"
        ],
        "description": "Accepts the URN as body and start process write activity to UAS\n",
        "responses": {
          "202": {
            "$ref": "#/components/responses/TextResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/activities/{urn}": {
      "delete": {
        "summary": "Delete Activity",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/urn"
          }
        ],
        "tags": [
          "Personalised Activities"
        ],
        "description": "Accepts the URN and start process delete activity from UAS\n",
        "responses": {
          "202": {
            "$ref": "#/components/responses/TextResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/collections/{pid}/members/playable": {
      "get": {
        "summary": "Personalised Collection Playable Members",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/CollectionPid"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Collections"
        ],
        "description": "Personalised Playable Items from Collection\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/listen": {
      "get": {
        "summary": "Listen Page Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Non inline Listen page Experience API\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/inline/listen": {
      "get": {
        "summary": "Listen Page Inline Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Inline Experience listen page API\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/sounds": {
      "get": {
        "summary": "My Sounds Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Non inline my sounds experience API\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/inline/sounds": {
      "get": {
        "summary": "My Sounds Inline Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Inline My Sounds Experience API\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/inline/search": {
      "get": {
        "summary": "Personalised Search Inline Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/q"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Personalised Inline Experience search results container and playable items as display modules\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceInlineResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/playqueue/{pid}": {
      "get": {
        "summary": "Personalised On Demand Page Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/pid"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Non inline personalised On Demand Experince which consist of display modules of Player, Playqueue and Recommendations.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/experience/container/{urn}": {
      "get": {
        "summary": "Personalised Containers Page Experience",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/urn"
          }
        ],
        "tags": [
          "Experience"
        ],
        "description": "Display the container details along with the personalised playable items of the container\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceContainerResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/programmes/plays": {
      "post": {
        "summary": "Write Play Event",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "description": "Body for the play data event",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "started",
                      "ended",
                      "paused",
                      "heartbeat"
                    ]
                  },
                  "resource_type": {
                    "type": "string",
                    "enum": [
                      "episode",
                      "clip"
                    ]
                  },
                  "play_mode": {
                    "type": "string",
                    "enum": [
                      "live"
                    ]
                  },
                  "pid": {
                    "type": "string",
                    "example": "b08vxv2w"
                  },
                  "version_pid": {
                    "type": "string",
                    "example": "b08vxtj4"
                  },
                  "elapsed_time": {
                    "type": "integer",
                    "example": 80
                  }
                },
                "required": [
                  "action",
                  "resource_type",
                  "pid",
                  "version_pid",
                  "elapsed_time"
                ]
              }
            }
          }
        },
        "tags": [
          "Personalised Programmes"
        ],
        "description": "Accepts the play data & start processing write action to UAS\n",
        "responses": {
          "202": {
            "$ref": "#/components/responses/TextResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/programmes/plays/playable": {
      "get": {
        "summary": "List of played programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Personalised Programmes"
        ],
        "description": "provides list of play history in playable items for a user\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/programmes/favourites/playable": {
      "get": {
        "summary": "List of favourite programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Personalised Programmes"
        ],
        "description": "Returns list of programmes favourited by user\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/programmes/follows": {
      "get": {
        "summary": "List of favourite programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by provided query. E.g. 'title' sorts in ascending order",
            "schema": {
              "type": "string",
              "enum": [
                "title"
              ]
            },
            "required": false
          }
        ],
        "tags": [
          "Personalised Programmes"
        ],
        "description": "Returns list of programmes followed by user\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerItemsPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/programmes/follows/playable": {
      "get": {
        "summary": "Programmes from followed brands & series",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Personalised Programmes"
        ],
        "description": "Returns list of latest playable programmes from followed brands and series\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/programmes/recommendations/playable": {
      "get": {
        "summary": "List of recommended programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Personalised Programmes"
        ],
        "description": "Recommended Programmes from the Audience Platforms' Recomendations Service\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/programmes/playqueue/{pid}": {
      "get": {
        "summary": "Play Queue",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/pid"
          }
        ],
        "tags": [
          "Personalised Programmes"
        ],
        "description": "provides the list of playable items as playqueue based on the programme id\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/programmes/playable": {
      "get": {
        "summary": "Playable Programmes",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/network"
          },
          {
            "$ref": "#/components/parameters/networkUrlKey"
          },
          {
            "$ref": "#/components/parameters/category"
          },
          {
            "$ref": "#/components/parameters/parent"
          },
          {
            "$ref": "#/components/parameters/container"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by programme type.",
            "schema": {
              "type": "string",
              "enum": [
                "episode",
                "clip"
              ]
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Personalised Programmes"
        ],
        "description": "Provides a paginated list of personalised playable programmes (episodes and clips).\nAccepts various filters and sorting methods.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItemsPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/programmes/{pid}/item": {
      "get": {
        "summary": "Single Container or Playable Programme By Pid",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/pid"
          }
        ],
        "tags": [
          "Personalised Programmes"
        ],
        "description": "Returns personalised single container or playable item by a programme id\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/v2/my/programmes/{pid}/playable": {
      "get": {
        "summary": "Single Playable Programme By Pid",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/pid"
          }
        ],
        "tags": [
          "Personalised Programmes"
        ],
        "description": "Returns single personalised playable item by a programme id\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayableItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Notfound"
          },
          "default": {
            "$ref": "#/components/responses/InternalServiceError"
          }
        }
      }
    },
    "/my/radio/favourites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/X-API-Key"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        },
        {
          "$ref": "#/components/parameters/X-Authentication-Provider"
        }
      ],
      "get": {
        "summary": "Favourite Episodes and Clips",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for Personalised Radio results",
            "schema": {
              "type": "string",
              "enum": [
                "programme_titles",
                "available_from_date",
                "available_to_date"
              ]
            },
            "required": false
          },
          {
            "name": "show_all_activity",
            "in": "query",
            "description": "Include items which have been 'soft' unfavourited in response. I.e items with UAS type of 'unfavourited'",
            "schema": {
              "type": "boolean"
            },
            "required": false
          }
        ],
        "tags": [
          "Radio"
        ],
        "description": "List of favourited episodes and clips for a given user for iPlayer Radio.\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getPersonalisedRadioFavourites",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedRadioResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/RadioErrorMessage"
          }
        }
      },
      "put": {
        "summary": "Favourite Episodes and Clips",
        "requestBody": {
          "description": "Action favourited or unfavourited",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PersonalisedRadioBatchRequest"
                }
              }
            }
          }
        },
        "tags": [
          "Radio"
        ],
        "description": "Update user favourites\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedRadioBatch",
        "responses": {
          "202": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedRadioSuccessResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/RadioErrorMessage"
          }
        }
      },
      "post": {
        "summary": "Favourite Episodes and Clips",
        "requestBody": {
          "description": "Action favourited or unfavourited",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PersonalisedRadioBatchRequest"
                }
              }
            }
          }
        },
        "tags": [
          "Radio"
        ],
        "description": "Add User favourites\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedRadioBatch",
        "responses": {
          "202": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedRadioSuccessResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/RadioErrorMessage"
          }
        }
      }
    },
    "/my/radio/favourites/{type}": {
      "get": {
        "summary": "Favourite Episodes and Clips by Type",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-Authentication-Provider"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Radio favourite types: Clips or Episodes",
            "schema": {
              "type": "string",
              "enum": [
                "clips",
                "episodes"
              ]
            },
            "required": true
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for Personalised Radio results",
            "schema": {
              "type": "string",
              "enum": [
                "programme_titles",
                "available_from_date",
                "available_to_date"
              ]
            },
            "required": false
          },
          {
            "name": "show_all_activity",
            "in": "query",
            "description": "Include items which have been 'soft' unfavourited in response. I.e items with UAS type of 'unfavourited'",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Radio"
        ],
        "description": "List of followed 'clips' or 'episode' items for a given iPlayer Radio user\n",
        "operationId": "getPersonalisedRadioFavouritesByType",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedRadioResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/RadioErrorMessage"
          }
        }
      }
    },
    "/my/radio/favourites/{type}/{pid}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/X-API-Key"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        },
        {
          "$ref": "#/components/parameters/X-Authentication-Provider"
        },
        {
          "name": "type",
          "in": "path",
          "description": "Supported Radio favourite types: Clips or Episodes",
          "schema": {
            "type": "string",
            "enum": [
              "clips",
              "episodes"
            ]
          },
          "required": true
        },
        {
          "$ref": "#/components/parameters/pid"
        }
      ],
      "get": {
        "summary": "Favourite Episode or Clip",
        "parameters": [
          {
            "name": "show_all_activity",
            "in": "query",
            "description": "Include items which have been 'soft' unfavourited in response. I.e items with UAS type of 'unfavourited'",
            "schema": {
              "type": "boolean"
            },
            "required": false
          }
        ],
        "tags": [
          "Radio"
        ],
        "description": "Check to see if a single clip or episode entity is in a users favourites - determines UX of add button.\n",
        "operationId": "getPersonalisedRadioByActivityTypeById",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedRadioResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/RadioErrorMessage"
          },
          "default": {
            "$ref": "#/components/responses/RadioErrorMessage"
          }
        }
      },
      "put": {
        "summary": "Favourite Episode or Clip",
        "tags": [
          "Radio"
        ],
        "description": "Update user favourite\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedRadioByActivityTypeById",
        "requestBody": {
          "description": "Action favourited or unfavourited",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonalisedRadioRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedRadioSuccessResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/RadioErrorMessage"
          },
          "default": {
            "$ref": "#/components/responses/RadioErrorMessage"
          }
        }
      },
      "post": {
        "summary": "Favourite Episode or Clip",
        "requestBody": {
          "description": "Action favourited or unfavourited",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonalisedRadioRequest"
              }
            }
          }
        },
        "tags": [
          "Radio"
        ],
        "description": "Add User favourite\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedRadioByActivityTypeById",
        "responses": {
          "202": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedRadioSuccessResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/RadioErrorMessage"
          },
          "default": {
            "$ref": "#/components/responses/RadioErrorMessage"
          }
        }
      },
      "delete": {
        "summary": "Favourite Episode or Clip",
        "tags": [
          "Radio"
        ],
        "description": "Remove User favourite\n",
        "operationId": "deletePersonalisedRadioByActivityTypeById",
        "responses": {
          "202": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedRadioSuccessResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/RadioErrorMessage"
          },
          "default": {
            "$ref": "#/components/responses/RadioErrorMessage"
          }
        }
      }
    },
    "/my/radio/follows": {
      "parameters": [
        {
          "$ref": "#/components/parameters/X-API-Key"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        },
        {
          "$ref": "#/components/parameters/X-Authentication-Provider"
        }
      ],
      "get": {
        "summary": "Followed Brands and Series",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for Personalised Radio results",
            "schema": {
              "type": "string",
              "enum": [
                "programme_titles",
                "available_from_date",
                "available_to_date"
              ]
            },
            "required": false
          },
          {
            "name": "show_all_activity",
            "in": "query",
            "description": "Include items which have been 'soft' unfollowed in response. I.e items with UAS type of 'unfollowed'",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "tags": [
          "Radio"
        ],
        "description": "List of favourited brands and series for a given user for iPlayer Radio.\n",
        "operationId": "getPersonalisedRadioFollows",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedRadioResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/RadioErrorMessage"
          }
        }
      },
      "put": {
        "summary": "Followed Brands and Series",
        "requestBody": {
          "description": "Action favourited or unfavourited",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PersonalisedRadioBatchRequest"
                }
              }
            }
          }
        },
        "tags": [
          "Radio"
        ],
        "description": "Update 'brands' or 'series' items from a users iPlayer Radio follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedRadioFollowsBatch",
        "responses": {
          "202": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedRadioSuccessResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/RadioErrorMessage"
          }
        }
      },
      "post": {
        "summary": "Followed Brands and Series",
        "tags": [
          "Radio"
        ],
        "description": "Add 'brand' or 'series' items to a users iPlayer Radio follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedRadioFollowsBatch",
        "requestBody": {
          "description": "Action favourited or unfavourited",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PersonalisedRadioBatchRequest"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
[...]
