{
  "swagger": "2.0",
  "info": {
    "description": "We encapsulate Radio & Music business logic for iPlayer Radio and BBC Music products on all platforms. We add value by reliably providing the right blend of metadata needed by clients.",
    "version": "1.0.0",
    "title": "Radio & Music Services"
  },
  "host": "rms.api.bbc.co.uk",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/radio/categories.json": {
      "get": {
        "tags": [
          "Radio"
        ],
        "summary": "Categories",
        "description": "All iPlayer Radio categories - contains business logic for blend of PIPs genres and formats.\n",
        "operationId": "getRadioCategories",
        "schemes": [
          "http"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RadioCategoriesResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/RadioErrorResponse"
            }
          }
        },
        "deprecated": true
      }
    },
    "/radio/networks.json": {
      "get": {
        "tags": [
          "Radio"
        ],
        "summary": "Networks",
        "description": "All iPlayer Radio networks - contains business logic for masterbrand and service relationships\n",
        "operationId": "getRadioNetworks",
        "schemes": [
          "http"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "preset",
            "in": "query",
            "description": "Returns all networks needed for iPlayer Radio responsive web navigation",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "international",
            "in": "query",
            "description": "Returns all networks available internationally",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworksResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/RadioErrorResponse"
            }
          }
        }
      }
    },
    "/radio/v1/programmes.json": {
      "get": {
        "tags": [
          "Radio"
        ],
        "summary": "Programmes",
        "description": "Find programmes by PID (brand, series, episode and clip). Accepts one or many pids separated by commas.\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining results as an array of Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getRadioProgrammesV1",
        "schemes": [
          "http"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "pids",
            "in": "query",
            "description": "Returns programme information for one or more pids",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProgrammesResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/RadioErrorResponse"
            }
          }
        },
        "deprecated": true
      }
    },
    "/radio/v1/programmes/{pid}.json": {
      "get": {
        "tags": [
          "Radio"
        ],
        "summary": "Programme by Pid",
        "description": "Find programmes by PID (brand, series, episode and clip)\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining results as an array of Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getRadioProgrammesByPidV1",
        "schemes": [
          "http"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "pid",
            "in": "path",
            "description": "pid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProgrammesResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/RadioErrorResponse"
            }
          }
        },
        "deprecated": true
      }
    },
    "/radio/programmes.json": {
      "get": {
        "tags": [
          "Radio"
        ],
        "summary": "Programmes",
        "description": "Provides a paginated list of programmes by PID (brand, series, episode and clip). Accepts various filters and sorting methods.\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining results as an array of Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getRadioProgrammes",
        "schemes": [
          "http"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filter by provided query. E.g. 'tleo' returns top level objects, ie. brands, orphaned series, and orphaned episodes",
            "required": false,
            "type": "string",
            "enum": [
              "tleo"
            ]
          },
          {
            "name": "network",
            "in": "query",
            "description": "Filter by network master brand ID (mid). Accepts comma separated values",
            "required": false,
            "type": "string"
          },
          {
            "name": "network_url_key",
            "in": "query",
            "description": "Filter by network URL key. Accepts comma separated values",
            "required": false,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category id. Accepts comma separated values. See /category endpoint below for the type of response provided",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by provided query. E.g. 'title' sorts in ascending order, and -title sorts in descending order",
            "required": false,
            "type": "string",
            "enum": [
              "available_from_date",
              "-available_from_date",
              "title",
              "-title"
            ]
          },
          {
            "name": "container",
            "in": "query",
            "description": "Filter by container. Accepts any brand or series pid",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by programme type. Accepts comma separated values",
            "required": false,
            "type": "string",
            "enum": [
              "brand",
              "series",
              "episode",
              "clip",
              "episode,clip"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProgrammesResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/RadioErrorResponse"
            }
          }
        }
      }
    },
    "/radio/programmes/{pid}.json": {
      "get": {
        "tags": [
          "Radio"
        ],
        "summary": "Programme by Pid",
        "description": "Find programmes by PID (brand, series, episode and clip)\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining results as an array of Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getRadioProgrammesByPid",
        "schemes": [
          "http"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "pid",
            "in": "path",
            "description": "pid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProgrammesResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/RadioErrorResponse"
            }
          }
        }
      }
    },
    "/music/popular/tracks": {
      "get": {
        "tags": [
          "Music Popularity"
        ],
        "summary": "Popular Tracks",
        "description": "List of popular tracks for BBC Music. Filter by time, network, artist, playlist or programme.\n",
        "operationId": "getMusicPopularTracks",
        "schemes": [
          "http"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "since",
            "in": "query",
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now",
            "required": false,
            "type": "string"
          },
          {
            "name": "until",
            "in": "query",
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params",
            "required": false,
            "type": "string"
          },
          {
            "name": "network",
            "in": "query",
            "description": "Return items with given Network ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "programme",
            "in": "query",
            "description": "Items with given Programme Pid",
            "required": false,
            "type": "string"
          },
          {
            "name": "artist",
            "in": "query",
            "description": "MusicBrainz artist ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "decomposed",
            "in": "query",
            "description": "In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Paginated results offset",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Paginated results limit",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MusicPopularityTracks"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/MusicPopularityError"
            }
          }
        }
      }
    },
    "/music/popular/tracks/{id}": {
      "get": {
        "tags": [
          "Music Popularity"
        ],
        "summary": "Single Track Popularity",
        "description": "Popular Track for BBC Music\n",
        "operationId": "getMusicPopularTrackById",
        "schemes": [
          "http"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "since",
            "in": "query",
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now",
            "required": false,
            "type": "string"
          },
          {
            "name": "until",
            "in": "query",
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params",
            "required": false,
            "type": "string"
          },
          {
            "name": "network",
            "in": "query",
            "description": "Return items with given Network ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "programme",
            "in": "query",
            "description": "Items with given Programme Pid",
            "required": false,
            "type": "string"
          },
          {
            "name": "artist",
            "in": "query",
            "description": "MusicBrainz artist ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "decomposed",
            "in": "query",
            "description": "In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "id",
            "in": "path",
            "description": "BBC Music Track Id - Used to get single resource score",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MusicPopularityTracks"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/MusicPopularityError"
            }
          }
        }
      }
    },
    "/music/popular/artists": {
      "get": {
        "tags": [
          "Music Popularity"
        ],
        "summary": "Popular Artists",
        "description": "List of Most Popular artists from BBC Music.\n",
        "operationId": "getMusicPopularArtists",
        "schemes": [
          "http"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "since",
            "in": "query",
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now",
            "required": false,
            "type": "string"
          },
          {
            "name": "until",
            "in": "query",
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params",
            "required": false,
            "type": "string"
          },
          {
            "name": "decomposed",
            "in": "query",
            "description": "In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Paginated results offset",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Paginated results limit",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MusicPopularityArtists"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/MusicPopularityError"
            }
          }
        }
      }
    },
    "/music/popular/artists/{id}": {
      "get": {
        "tags": [
          "Music Popularity"
        ],
        "summary": "Single Artist Popularity",
        "description": "Popularity Artist By Id\n",
        "operationId": "getMusicPopularArtistById",
        "schemes": [
          "http"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "since",
            "in": "query",
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now",
            "required": false,
            "type": "string"
          },
          {
            "name": "until",
            "in": "query",
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params",
            "required": false,
            "type": "string"
          },
          {
            "name": "decomposed",
            "in": "query",
            "description": "In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "id",
            "in": "path",
            "description": "MusicBrainz Id - Used to get single resource score",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MusicPopularityArtists"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/MusicPopularityError"
            }
          }
        }
      }
    },
    "/music/popular/playlists": {
      "get": {
        "tags": [
          "Music Popularity"
        ],
        "summary": "Popular Playlists",
        "description": "List of Most Popular playlists from BBC Music.\n",
        "operationId": "getMusicPopularPlaylists",
        "schemes": [
          "http"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "since",
            "in": "query",
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now",
            "required": false,
            "type": "string"
          },
          {
            "name": "until",
            "in": "query",
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params",
            "required": false,
            "type": "string"
          },
          {
            "name": "decomposed",
            "in": "query",
            "description": "In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Paginated results offset",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Paginated results limit",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MusicPopularityPlaylists"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/MusicPopularityError"
            }
          }
        }
      }
    },
    "/music/popular/playlists/{id}": {
      "get": {
        "tags": [
          "Music Popularity"
        ],
        "summary": "Single Playlist Popularity",
        "description": "Popular playlist by Id\n",
        "operationId": "getMusicPopularPlaylistById",
        "schemes": [
          "http"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "since",
            "in": "query",
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now",
            "required": false,
            "type": "string"
          },
          {
            "name": "until",
            "in": "query",
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params",
            "required": false,
            "type": "string"
          },
          {
            "name": "decomposed",
            "in": "query",
            "description": "In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "id",
            "in": "path",
            "description": "BBC Music Playlist Id - Used to get single resource score",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MusicPopularityPlaylists"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/MusicPopularityError"
            }
          }
        }
      }
    },
    "/my/plays": {
      "post": {
        "tags": [
          "Personalised Plays"
        ],
        "summary": "Write Play Event",
        "description": "Write play events to the [User Activity Service](https://confluence.dev.bbc.co.uk/display/activity/About+the+User+Activity+Service).\n",
        "operationId": "writePlayEvent",
        "schemes": [
          "https"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "writePlayRequest",
            "description": "Write Play Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/writePlayRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Request successfully sent to UAS."
          },
          "400": {
            "description": "The request was malformed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "There was an error with the supplied `Authorization` header.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/my/radio/favourites": {
      "get": {
        "tags": [
          "Personalised Radio"
        ],
        "summary": "Favourite Episodes and Clips",
        "description": "List of favourited episodes and clips for a given user for iPlayer Radio.\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getPersonalisedRadioFavourites",
        "schemes": [
          "https"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Paginated results offset",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Paginated results limit",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for Personalised Radio results",
            "required": false,
            "type": "string",
            "enum": [
              "programme_titles",
              "available_from_date",
              "available_to_date"
            ]
          },
          {
            "name": "show_all_activity",
            "in": "query",
            "description": "Include items which have been 'soft' unfavourited in response. I.e items with UAS type of 'unfavourited'",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Personalised Radio"
        ],
        "summary": "Favourite Episodes and Clips",
        "description": "Add User favourites\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedRadioBatch",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action favourited or unfavourited",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalisedRadioBatchRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Personalised Radio"
        ],
        "summary": "Favourite Episodes and Clips",
        "description": "Update user favourites\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedRadioBatch",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action favourited or unfavourited",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalisedRadioBatchRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        }
      }
    },
    "/my/radio/favourites/{type}": {
      "get": {
        "tags": [
          "Personalised Radio"
        ],
        "summary": "Favourite Episodes and Clips by Type",
        "description": "List of followed 'clips' or 'episode' items for a given iPlayer Radio user\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getPersonalisedRadioFavouritesByType",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Radio favourite types: Clips or Episodes",
            "required": true,
            "type": "string",
            "enum": [
              "clips",
              "episodes"
            ]
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for Personalised Radio results",
            "required": false,
            "type": "string",
            "enum": [
              "programme_titles",
              "available_from_date",
              "available_to_date"
            ]
          },
          {
            "name": "show_all_activity",
            "in": "query",
            "description": "Include items which have been 'soft' unfavourited in response. I.e items with UAS type of 'unfavourited'",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Paginated results offset",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Paginated results limit",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        }
      }
    },
    "/my/radio/favourites/{type}/{pid}": {
      "get": {
        "tags": [
          "Personalised Radio"
        ],
        "summary": "Favourite Episode or Clip",
        "description": "Check to see if a single clip or episode entity is in a users favourites - determines UX of add button.\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getPersonalisedRadioByActivityTypeById",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Radio favourite types: Clips or Episodes",
            "required": true,
            "type": "string",
            "enum": [
              "clips",
              "episodes"
            ]
          },
          {
            "name": "pid",
            "in": "path",
            "description": "pid",
            "required": true,
            "type": "string"
          },
          {
            "name": "show_all_activity",
            "in": "query",
            "description": "Include items which have been 'soft' unfavourited in response. I.e items with UAS type of 'unfavourited'",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Personalised Radio"
        ],
        "summary": "Favourite Episode or Clip",
        "description": "Add User favourite\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedRadioByActivityTypeById",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Radio favourite types: Clips or Episodes",
            "required": true,
            "type": "string",
            "enum": [
              "clips",
              "episodes"
            ]
          },
          {
            "name": "pid",
            "in": "path",
            "description": "pid",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action favourited or unfavourited",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Personalised Radio"
        ],
        "summary": "Favourite Episode or Clip",
        "description": "Update user favourite\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedRadioByActivityTypeById",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Radio favourite types: Clips or Episodes",
            "required": true,
            "type": "string",
            "enum": [
              "clips",
              "episodes"
            ]
          },
          {
            "name": "pid",
            "in": "path",
            "description": "pid",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action favourited or unfavourited",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Personalised Radio"
        ],
        "summary": "Favourite Episode or Clip",
        "description": "Remove User favourite\n",
        "operationId": "deletePersonalisedRadioByActivityTypeById",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Radio favourite types: Clips or Episodes",
            "required": true,
            "type": "string",
            "enum": [
              "clips",
              "episodes"
            ]
          },
          {
            "name": "pid",
            "in": "path",
            "description": "pid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        }
      }
    },
    "/my/radio/follows": {
      "get": {
        "tags": [
          "Personalised Radio"
        ],
        "summary": "Followed Brands and Series",
        "description": "List of favourited brands and series for a given user for iPlayer Radio.\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getPersonalisedRadioFollows",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Paginated results offset",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Paginated results limit",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for Personalised Radio results",
            "required": false,
            "type": "string",
            "enum": [
              "programme_titles",
              "available_from_date",
              "available_to_date"
            ]
          },
          {
            "name": "show_all_activity",
            "in": "query",
            "description": "Include items which have been 'soft' unfollowed in response. I.e items with UAS type of 'unfollowed'",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Personalised Radio"
        ],
        "summary": "Followed Brands and Series",
        "description": "Add 'brand' or 'series' items to a users iPlayer Radio follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedRadioFollowsBatch",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action followed or unfollowed",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalisedRadioBatchRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Personalised Radio"
        ],
        "summary": "Followed Brands and Series",
        "description": "Update 'brands' or 'series' items from a users iPlayer Radio follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedRadioFollowsBatch",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action followed or unfollowed",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalisedRadioBatchRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        }
      }
    },
    "/my/radio/follows/{type}": {
      "get": {
        "tags": [
          "Personalised Radio"
        ],
        "summary": "Followed Brands or Series by Type",
        "description": "List of followed 'brand' or 'series' items for a given iPlayer Radio user\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getPersonalisedRadioFollowsByType",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Radio follows types: Brands or Series",
            "required": true,
            "type": "string",
            "enum": [
              "brands",
              "series"
            ]
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for Personalised Radio results",
            "required": false,
            "type": "string",
            "enum": [
              "programme_titles",
              "available_from_date",
              "available_to_date"
            ]
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Paginated results offset",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Paginated results limit",
            "required": false,
            "type": "integer"
          },
          {
            "name": "show_all_activity",
            "in": "query",
            "description": "Include items which have been 'soft' unfollowed in response. I.e items with UAS type of 'unfollowed'",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        }
      }
    },
    "/my/radio/follows/{type}/{pid}": {
      "get": {
        "tags": [
          "Personalised Radio"
        ],
        "summary": "Followed Brand or Series",
        "description": "Check to see if a single brand or series entity is in a users follows - determines UX of add button.\n",
        "operationId": "getPersonalisedRadioFollowsByTypeById",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Radio follows types: Brands or Series",
            "required": true,
            "type": "string",
            "enum": [
              "brands",
              "series"
            ]
          },
          {
            "name": "pid",
            "in": "path",
            "description": "pid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Personalised Radio"
        ],
        "summary": "Followed Brand or Series",
        "description": "Add 'brand' or 'series' items from a users iPlayer Radio follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedRadioFollowsByTypeById",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Radio follows types: Brands or Series",
            "required": true,
            "type": "string",
            "enum": [
              "brands",
              "series"
            ]
          },
          {
            "name": "pid",
            "in": "path",
            "description": "pid",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action followed or unfollowed",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Personalised Radio"
        ],
        "summary": "Followed Brand or Series",
        "description": "Update 'brand' or 'series' items from a users iPlayer Radio follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedRadioFollowsByTypeById",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Radio follows types: Brands or Series",
            "required": true,
            "type": "string",
            "enum": [
              "brands",
              "series"
            ]
          },
          {
            "name": "pid",
            "in": "path",
            "description": "pid",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action followed or unfollowed",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Personalised Radio"
        ],
        "summary": "Followed Brand or Series",
        "description": "Remove 'brand' or 'series' items from a users iPlayer Radio follows\n",
        "operationId": "deletePersonalisedRadioFollowsByTypeById",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Radio follows types: Brands or Series",
            "required": true,
            "type": "string",
            "enum": [
              "brands",
              "series"
            ]
          },
          {
            "name": "pid",
            "in": "path",
            "description": "pid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        }
      }
    },
    "/my/radio/plays": {
      "get": {
        "tags": [
          "Personalised Radio"
        ],
        "summary": "Played Episode or Clip",
        "description": "Returns mixed episode and clip plays for a given BBC iPlayer radio user.\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getPersonalisedRadioPlays",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Paginated results offset",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Paginated results limit",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for Personalised Radio results",
            "required": false,
            "type": "string",
            "enum": [
              "programme_titles",
              "available_from_date",
              "available_to_date"
            ]
          },
          {
            "name": "show_all_activity",
            "in": "query",
            "description": "Include expired/unavailable items",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        }
      }
    },
    "/my/music/favourites": {
      "get": {
        "tags": [
          "Personalised Music"
        ],
        "summary": "Favourite Tracks or Clips",
        "description": "List of favourited tracks and clips for a given user for BBC Music.\n",
        "operationId": "getPersonalisedMusicFavourites",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Paginated results offset",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Paginated results limit",
            "required": false,
            "type": "integer"
          },
          {
            "name": "action",
            "in": "query",
            "description": "Filters activities based on the type of action",
            "required": false,
            "type": "string",
            "enum": [
              "favourited",
              "unfavourited"
            ]
          },
          {
            "name": "music-data",
            "in": "query",
            "description": "Omits music data from the response, defaults to true",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Personalised Music"
        ],
        "summary": "Favourite Tracks or Clips",
        "description": "Add multiple tracks and/or clips to a BBC Music user's favourites.\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedMusicFavouritesBatch",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action favourited or unfavourited",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalisedMusicBatchRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Personalised Music"
        ],
        "summary": "Favourite Tracks or Clips",
        "description": "Update tracks or clips from a BBC Music user favourites.\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedMusicFavouritesBatch",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action favourited or unfavourited",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalisedMusicBatchRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicSuccess"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        }
      }
    },
    "/my/music/favourites/{type}": {
      "get": {
        "tags": [
          "Personalised Music"
        ],
        "summary": "Favourite Tracks or Clips by Type",
        "description": "List of favourited tracks or clips for a given user for BBC Music.\n",
        "operationId": "getPersonalisedMusicFavouritesByType",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Music favourite types: Clips or Tracks",
            "required": true,
            "type": "string",
            "enum": [
              "clips",
              "tracks"
            ]
          },
          {
            "name": "action",
            "in": "query",
            "description": "Filters activities based on the type of action",
            "required": false,
            "type": "string",
            "enum": [
              "favourited",
              "unfavourited"
            ]
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Paginated results offset",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Paginated results limit",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        }
      }
    },
    "/my/music/favourites/{type}/{id}": {
      "get": {
        "tags": [
          "Personalised Music"
        ],
        "summary": "Favourite Track or Clip",
        "description": "Check to see if a single track or clip entity is in a users favourites - determines UX of add button.\n",
        "operationId": "getPersonalisedMusicFavouritesByTypeById",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Music favourite types: Clips or Tracks",
            "required": true,
            "type": "string",
            "enum": [
              "clips",
              "tracks"
            ]
          },
          {
            "name": "id",
            "in": "path",
            "description": "Clip PID or Track ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Personalised Music"
        ],
        "summary": "Favourite Track or Clip",
        "description": "Add track or clip to a BBC Music user favourites.\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedMusicFavouritesByTypeById",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Music favourite types: Clips or Tracks",
            "required": true,
            "type": "string",
            "enum": [
              "clips",
              "tracks"
            ]
          },
          {
            "name": "id",
            "in": "path",
            "description": "Clip PID or Track ID",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action favourited or unfavourited",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Personalised Music"
        ],
        "summary": "Favourite Track or Clip",
        "description": "Update tracks or clips from a BBC Music user favourites.\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedMusicFavouritesByTypeById",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Music favourite types: Clips or Tracks",
            "required": true,
            "type": "string",
            "enum": [
              "clips",
              "tracks"
            ]
          },
          {
            "name": "id",
            "in": "path",
            "description": "Clip PID or Track ID",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action favourited or unfavourited",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicSuccess"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Personalised Music"
        ],
        "summary": "Favourite Track or Clip",
        "description": "Delete track or clip from a BBC Music user favourites.\n",
        "operationId": "deletePersonalisedMusicFavouritesByTypeById",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Music favourite types: Clips or Tracks",
            "required": true,
            "type": "string",
            "enum": [
              "clips",
              "tracks"
            ]
          },
          {
            "name": "id",
            "in": "path",
            "description": "Clip PID or Track ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicSuccess"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        }
      }
    },
    "/my/music/follows": {
      "get": {
        "tags": [
          "Personalised Music"
        ],
        "summary": "Followed Networks, Categories, Artists, Playlists and Genres",
        "description": "List of followed networks, categories, artists, playlists and genres for a given user for BBC Music.\n",
        "operationId": "getPersonalisedMusicFollows",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "query",
            "description": "Filters activities based on the type of action",
            "required": false,
            "type": "string",
            "enum": [
              "followed",
              "unfollowed"
            ]
          },
          {
            "name": "music-data",
            "in": "query",
            "description": "Omits music data from the response, defaults to true",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "music_context",
            "in": "query",
            "description": "Specify context to be passed to Music API",
            "required": false,
            "type": "string",
            "enum": [
              "events",
              "ivote",
              "music",
              "musicplaylist",
              "programmes",
              "radio",
              "unknown"
            ]
          },
          {
            "name": "music_within_uk",
            "in": "query",
            "description": "Specify location to be passed to Music API",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Paginated results offset",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Paginated results limit",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Personalised Music"
        ],
        "summary": "Followed Networks, Categories, Artists, Playlists and Genres",
        "description": "Add networks, categories, artists, playlists, networks, genres or services in a users follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedMusicFollowsBatch",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "query",
            "description": "Filters activities based on the type of action",
            "required": false,
            "type": "string",
            "enum": [
              "followed",
              "unfollowed"
            ]
          },
          {
            "name": "music-data",
            "in": "query",
            "description": "Omits music data from the response, defaults to true",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "music_context",
            "in": "query",
            "description": "Specify context to be passed to Music API",
            "required": false,
            "type": "string",
            "enum": [
              "events",
              "ivote",
              "music",
              "musicplaylist",
              "programmes",
              "radio",
              "unknown"
            ]
          },
          {
            "name": "music_within_uk",
            "in": "query",
            "description": "Specify location to be passed to Music API",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action followed or unfollowed",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalisedMusicBatchRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicSuccess"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Personalised Music"
        ],
        "summary": "Followed Networks, Categories, Artists, Playlists and Genres",
        "description": "Update networks, categories, artists, playlists, networks, genres or services in a users follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedMusicFollowsBatch",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "query",
            "description": "Filters activities based on the type of action",
            "required": false,
            "type": "string",
            "enum": [
              "followed",
              "unfollowed"
            ]
          },
          {
            "name": "music-data",
            "in": "query",
            "description": "Omits music data from the response, defaults to true",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "music_context",
            "in": "query",
            "description": "Specify context to be passed to Music API",
            "required": false,
            "type": "string",
            "enum": [
              "events",
              "ivote",
              "music",
              "musicplaylist",
              "programmes",
              "radio",
              "unknown"
            ]
          },
          {
            "name": "music_within_uk",
            "in": "query",
            "description": "Specify location to be passed to Music API",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action followed or unfollowed",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalisedMusicBatchRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicSuccess"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        }
      }
    },
    "/my/music/follows/{type}": {
      "get": {
        "tags": [
          "Personalised Music"
        ],
        "summary": "Followed Networks, Categories, Artists, Playlists and Genres by Type",
        "description": "List of followed networks, categories, artists, playlists, networks, genres, categories or services for a given BBC Music user.\n",
        "operationId": "getPersonalisedMusicFollowsByType",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Music follows types: Playlists, Services, Genres & Artists",
            "required": true,
            "type": "string",
            "enum": [
              "playlists",
              "services",
              "networks",
              "genres",
              "categories",
              "artists"
            ]
          },
          {
            "name": "action",
            "in": "query",
            "description": "Filters activities based on the type of action",
            "required": false,
            "type": "string",
            "enum": [
              "followed",
              "unfollowed"
            ]
          },
          {
            "name": "music-data",
            "in": "query",
            "description": "Omits music data from the response, defaults to true",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "music_context",
            "in": "query",
            "description": "Specify context to be passed to Music API",
            "required": false,
            "type": "string",
            "enum": [
              "events",
              "ivote",
              "music",
              "musicplaylist",
              "programmes",
              "radio",
              "unknown"
            ]
          },
          {
            "name": "music_within_uk",
            "in": "query",
            "description": "Specify location to be passed to Music API",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Paginated results offset",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Paginated results limit",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        }
      }
    },
    "/my/music/follows/{type}/{id}": {
      "get": {
        "tags": [
          "Personalised Music"
        ],
        "summary": "Followed Network, Category, Artist, Playlist and Genre",
        "description": "Check to see if a single network, category, artist, playlist, network, genre or service entity is in a users follows - determines UX of add button.\n",
        "operationId": "getPersonalisedMusicFollowsByTypeById",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Music follows types: Playlists, Services, Genres & Artists",
            "required": true,
            "type": "string",
            "enum": [
              "playlists",
              "services",
              "networks",
              "genres",
              "categories",
              "artists"
            ]
          },
          {
            "name": "id",
            "in": "path",
            "description": "Playlists, Services, Networks, Genres, Categories or Artists ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "music-data",
            "in": "query",
            "description": "Omits music data from the response, defaults to true",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "music_context",
            "in": "query",
            "description": "Specify context to be passed to Music API",
            "required": false,
            "type": "string",
            "enum": [
              "events",
              "ivote",
              "music",
              "musicplaylist",
              "programmes",
              "radio",
              "unknown"
            ]
          },
          {
            "name": "music_within_uk",
            "in": "query",
            "description": "Specify location to be passed to Music API",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Personalised Music"
        ],
        "summary": "Followed Network, Category, Artist, Playlist and Genre",
        "description": "Add a single network, category, artist, playlist, network, genre or service entity is in a users follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedMusicFollowsByTypeById",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer OAUTH_TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer OAUTH_TOKEN"
          },
          {
            "name": "X-Authentication-Provider",
            "in": "header",
            "description": "Authentication type",
            "required": true,
            "type": "string",
            "default": "idv5"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API_KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported Music follows types: Playlists, Services, Genres & Artists",
            "required": true,
            "type": "string",
            "enum": [
              "playlists",
              "services",
              "networks",
              "genres",
              "categories",
              "artists"
            ]
          },
          {
            "name": "id",
            "in": "path",
            "description": "Playlists, Services, Networks, Genres, Categories or Artists ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "music-data",
            "in": "query",
            "description": "Omits music data from the response, defaults to true",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "music_context",
            "in": "query",
            "description": "Specify context to be passed to Music API",
            "required": false,
            "type": "string",
            "enum": [
              "events",
              "ivote",
              "music",
              "musicplaylist",
              "programmes",
              "radio",
              "unknown"
            ]
          },
          {
            "name": "music_within_uk",
            "in": "query",
            "description": "Specify location to be passed to Music API",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action followed or unfollowed",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicSuccess"
            }
          },
          "default": {
[...]
