{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Radio & Music Services",
    "description": "We encapsulate Radio & Music business logic for iPlayer Radio and BBC Music products on all platforms. We add value by reliably providing the right blend of metadata needed by clients."
  },
  "host": "rms.api.bbc.co.uk",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "parameters": {
    "Authorization": {
      "name": "Authorization",
      "in": "header",
      "description": "Bearer OAUTH_TOKEN",
      "type": "string",
      "required": true,
      "default": "Bearer OAUTH_TOKEN"
    },
    "X-Authentication-Provider": {
      "name": "X-Authentication-Provider",
      "in": "header",
      "description": "Authentication type",
      "type": "string",
      "required": true,
      "default": "idv5"
    },
    "X-API-Key": {
      "name": "X-API-Key",
      "in": "header",
      "description": "API_KEY",
      "type": "string",
      "required": true
    },
    "since": {
      "name": "since",
      "in": "query",
      "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now",
      "type": "string",
      "required": false
    },
    "until": {
      "name": "until",
      "in": "query",
      "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params",
      "type": "string",
      "required": false
    },
    "network": {
      "name": "network",
      "in": "query",
      "description": "Return items with given Network ID",
      "type": "string",
      "required": false
    },
    "programme": {
      "name": "programme",
      "in": "query",
      "description": "Items with given Programme Pid",
      "type": "string",
      "required": false
    },
    "artist": {
      "name": "artist",
      "in": "query",
      "description": "MusicBrainz artist ID",
      "type": "string",
      "required": false
    },
    "decomposed": {
      "name": "decomposed",
      "in": "query",
      "description": "In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days",
      "type": "boolean",
      "required": false
    },
    "id": {
      "name": "id",
      "in": "path",
      "description": "id",
      "type": "string",
      "required": true
    },
    "pid": {
      "name": "pid",
      "in": "path",
      "description": "pid",
      "type": "string",
      "required": true
    },
    "sid": {
      "name": "sid",
      "in": "path",
      "description": "sid",
      "type": "string",
      "required": true
    },
    "over16": {
      "name": "over16",
      "in": "query",
      "description": "Boolean age check",
      "type": "boolean",
      "required": true
    },
    "offset": {
      "name": "offset",
      "in": "query",
      "description": "Paginated results offset",
      "type": "integer",
      "required": false
    },
    "limit": {
      "name": "limit",
      "in": "query",
      "description": "Paginated results limit",
      "type": "integer",
      "required": false
    },
    "sort": {
      "name": "sort",
      "in": "query",
      "description": "Sort order for Podcasts results",
      "type": "string",
      "enum": [
        "title",
        "-title",
        "available_from_date",
        "-available_from_date"
      ],
      "required": false
    },
    "category": {
      "name": "category",
      "in": "query",
      "description": "Category ID",
      "type": "string",
      "required": false
    },
    "q": {
      "name": "q",
      "in": "query",
      "description": "Search query String",
      "type": "string",
      "required": false
    },
    "coverage": {
      "name": "coverage",
      "in": "query",
      "description": "Local, National or Regional Coverage",
      "type": "string",
      "enum": [
        "local",
        "national",
        "regional"
      ],
      "required": false
    },
    "rights": {
      "name": "rights",
      "in": "query",
      "description": "Only return available results for the web/mobile.",
      "type": "string",
      "enum": [
        "web",
        "mobile"
      ],
      "required": true
    }
  },
  "tags": [
    {
      "name": "Experience"
    },
    {
      "name": "Categories"
    },
    {
      "name": "Networks"
    },
    {
      "name": "Services"
    },
    {
      "name": "Broadcasts"
    },
    {
      "name": "Collections"
    },
    {
      "name": "Podcasts"
    },
    {
      "name": "Programmes"
    },
    {
      "name": "Personalised Categories"
    },
    {
      "name": "Personalised Networks"
    },
    {
      "name": "Personalised Programmes",
      "externalDocs": {
        "description": "Client Documentation",
        "url": "https://confluence.dev.bbc.co.uk/display/RMServices/Pendulum+Client+Documentation"
      }
    },
    {
      "name": "Continuous Play",
      "externalDocs": {
        "description": "Client Documentation",
        "url": "https://confluence.dev.bbc.co.uk/display/RMServices/Beastie+Boys+Client+Documetation"
      }
    },
    {
      "name": "Radio"
    },
    {
      "name": "Music"
    },
    {
      "name": "Music Export"
    }
  ],
  "paths": {
    "/v2/experience/listen": {
      "get": {
        "deprecated": true,
        "summary": "Listen Page Experience (deprecated for /v2/my/experience)",
        "schemes": [
          "https"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/X-API-Key"
          }
        ],
        "tags": [
          "Experience"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExperienceResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v2/experience/stations": {
      "get": {
        "deprecated": false,
        "summary": "Stations Page Experience",
        "schemes": [
          "https"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/X-API-Key"
          }
        ],
        "tags": [
          "Experience"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExperienceResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v2/experience/listen/sign-in": {
      "get": {
        "deprecated": false,
        "summary": "Sign in Experience",
        "schemes": [
          "https"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/X-API-Key"
          }
        ],
        "tags": [
          "Experience"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExperienceResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "summary": "List of categories",
        "parameters": [
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filter by provided query. E.g. 'promoted' returns promoted categories",
            "type": "string",
            "enum": [
              "promoted"
            ],
            "required": false
          }
        ],
        "tags": [
          "Categories"
        ],
        "description": "Retrieve Categories\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CategoriesResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/categories/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/X-API-Key"
        }
      ],
      "get": {
        "summary": "Category by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Retrieve information about the category. E.g. 'sport-football-europeanchampionship'",
            "type": "string",
            "required": false
          }
        ],
        "tags": [
          "Categories"
        ],
        "description": "Retrieve Categories by ID\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CategoriesResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/radio/networks.json": {
      "get": {
        "summary": "Networks",
        "parameters": [
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "name": "preset",
            "in": "query",
            "description": "Returns all networks needed for iPlayer Radio responsive web navigation",
            "type": "boolean",
            "required": false
          },
          {
            "name": "international",
            "in": "query",
            "description": "Returns all networks available internationally",
            "type": "boolean",
            "required": false
          }
        ],
        "tags": [
          "Networks"
        ],
        "description": "All iPlayer Radio networks - contains business logic for masterbrand and service relationships\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworksResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/RadioErrorResponse"
            }
          }
        }
      }
    },
    "/v2/networks": {
      "parameters": [
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "$ref": "#/parameters/offset"
        },
        {
          "$ref": "#/parameters/limit"
        },
        {
          "name": "promoted",
          "in": "query",
          "description": "Promoted networks only",
          "type": "boolean",
          "required": false
        }
      ],
      "get": {
        "summary": "List of networks",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworksResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Networks"
        ]
      }
    },
    "/v2/networks/playable": {
      "parameters": [
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "name": "promoted",
          "in": "query",
          "description": "Promoted networks only",
          "type": "boolean",
          "required": false
        }
      ],
      "get": {
        "summary": "List of playable networks",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PlayableItemsResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Networks"
        ]
      }
    },
    "/v2/networks/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "$ref": "#/parameters/offset"
        },
        {
          "$ref": "#/parameters/limit"
        },
        {
          "$ref": "#/parameters/id"
        }
      ],
      "get": {
        "summary": "Network by ID",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Network"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Networks"
        ]
      }
    },
    "/v2/networks/{id}/playable": {
      "parameters": [
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "$ref": "#/parameters/offset"
        },
        {
          "$ref": "#/parameters/limit"
        },
        {
          "$ref": "#/parameters/id"
        }
      ],
      "get": {
        "summary": "Playable network by ID",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PlayableItem"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Networks"
        ]
      }
    },
    "/v2/services/{sid}/tracks/latest/playable": {
      "parameters": [
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "$ref": "#/parameters/limit"
        },
        {
          "$ref": "#/parameters/sid"
        }
      ],
      "get": {
        "summary": "List of recently playable tracks",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PlayableItemsPaginatedResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Services"
        ]
      }
    },
    "/v2/broadcasts": {
      "get": {
        "summary": "Broadcasts",
        "schemes": [
          "https"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "name": "service",
            "in": "query",
            "description": "Filter by Service ID. E.g. bbc_radio_fourfm",
            "type": "string",
            "required": false
          },
          {
            "name": "date",
            "in": "query",
            "description": "Filter by date. E.g. 2016-06-17",
            "type": "string",
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by provided query. E.g. 'start_at' sorts in ascending order, and '-start_at' sorts in descending order",
            "type": "string",
            "enum": [
              "start_at",
              "-start_at",
              "end_at",
              "-end_at"
            ],
            "required": false
          }
        ],
        "tags": [
          "Broadcasts"
        ],
        "description": "All broadcasts\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BroadcastsResponse"
            }
          },
          "401": {
            "description": "There was an error with the supplied `Authorization` header.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v2/broadcasts/{pid}": {
      "get": {
        "summary": "Broadcasts by PID",
        "schemes": [
          "https"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "$ref": "#/parameters/pid"
          }
        ],
        "tags": [
          "Broadcasts"
        ],
        "description": "Find broadcast by PID\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BroadcastsResponse"
            }
          },
          "401": {
            "description": "There was an error with the supplied `Authorization` header.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v2/broadcasts/latest": {
      "get": {
        "deprecated": false,
        "summary": "Latest Broadcasts",
        "schemes": [
          "https"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "name": "service",
            "in": "query",
            "description": "Filter by Service ID. E.g. bbc_radio_fourfm",
            "type": "string",
            "required": false
          },
          {
            "name": "on_air",
            "in": "query",
            "description": "Filter what is on air. E.g. 'now' returns current programme being broadcasted.",
            "type": "string",
            "enum": [
              "now",
              "previous",
              "next"
            ],
            "required": false
          },
          {
            "name": "next",
            "in": "query",
            "description": "Filter what will be on air next in minutes. E.g. '240' returns programmes broadcasted in the next four hurs",
            "type": "string",
            "required": false
          },
          {
            "name": "previous",
            "in": "query",
            "description": "Filter what was on air previously in minutes. E.g. '240' returns programmes broadcasted in the previous four hurs",
            "type": "string",
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by provided query. E.g. 'start_at' sorts in ascending order, and '-start_at' sorts in descending order",
            "type": "string",
            "enum": [
              "start_at",
              "-start_at",
              "end_at",
              "-end_at"
            ],
            "required": false
          }
        ],
        "tags": [
          "Broadcasts"
        ],
        "description": "Broadcasts for the current day\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BroadcastsResponse"
            }
          },
          "401": {
            "description": "There was an error with the supplied `Authorization` header.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v2/programmes/search/playable": {
      "parameters": [
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "name": "q",
          "in": "query",
          "description": "Search Query",
          "type": "string",
          "required": true
        }
      ],
      "get": {
        "summary": "Search programmes",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PlayableItemsResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Programmes"
        ]
      }
    },
    "/collections/{pid}/members": {
      "get": {
        "summary": "Collection Members",
        "schemes": [
          "https"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "$ref": "#/parameters/pid"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          }
        ],
        "tags": [
          "Collections"
        ],
        "description": "Episodes and Clips from Collection\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProgrammesResponse"
            }
          },
          "404": {
            "description": "Collection not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/podcasts": {
      "get": {
        "summary": "All Podcasts",
        "parameters": [
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/sort"
          },
          {
            "name": "network",
            "in": "query",
            "description": "Network Master Brand ID (mid)",
            "type": "string",
            "required": false
          },
          {
            "name": "network_url_key",
            "in": "query",
            "description": "Network URL key",
            "type": "string",
            "required": false
          },
          {
            "$ref": "#/parameters/category"
          },
          {
            "$ref": "#/parameters/q"
          },
          {
            "$ref": "#/parameters/coverage"
          }
        ],
        "tags": [
          "Podcasts"
        ],
        "description": "Retrieve all Podcasts\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PodcastsResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PodcastErrorResponse"
            }
          }
        }
      }
    },
    "/podcasts/featured": {
      "get": {
        "summary": "Featured Podcasts",
        "parameters": [
          {
            "$ref": "#/parameters/X-API-Key"
          }
        ],
        "tags": [
          "Podcasts"
        ],
        "description": "Retrieve featured podcasts\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PodcastsFeaturedResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PodcastErrorResponse"
            }
          }
        }
      }
    },
    "/podcasts/{pid}": {
      "get": {
        "summary": "Podcast",
        "parameters": [
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "$ref": "#/parameters/pid"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          }
        ],
        "tags": [
          "Podcasts"
        ],
        "description": "Retrieve data about the podcast with the supplied PID\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PodcastsResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PodcastErrorResponse"
            }
          }
        }
      }
    },
    "/podcasts/{pid}/episodes": {
      "get": {
        "summary": "Podcast Episodes",
        "parameters": [
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "$ref": "#/parameters/pid"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          }
        ],
        "tags": [
          "Podcasts"
        ],
        "description": "Retrieve all episodes for a specific podcast\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PodcastEpisodesResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PodcastErrorResponse"
            }
          }
        }
      }
    },
    "/radio/popular": {
      "get": {
        "summary": "Popular Episodes & Clips",
        "parameters": [
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Programme type required. Accepts comma separated values",
            "type": "string",
            "enum": [
              "episode",
              "clip",
              "episode,clip"
            ],
            "required": false
          },
          {
            "name": "distinct",
            "in": "query",
            "description": "Filter by deduplication rule. E.g. 'tleo' returns programmes with distinct top level episode objects",
            "type": "string",
            "enum": [
              "tleo"
            ],
            "required": false
          },
          {
            "name": "network",
            "in": "query",
            "description": "Filter by network master brand ID (mid). Accepts comma separated values",
            "type": "string",
            "required": false
          },
          {
            "name": "network_url_key",
            "in": "query",
            "description": "Filter by network URL key. Accepts comma separated values",
            "type": "string",
            "required": false
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category. Accepts comma separated values",
            "type": "string",
            "required": false
          },
          {
            "name": "format",
            "in": "query",
            "description": "Filter by format. Accepts comma separated values",
            "type": "string",
            "required": false
          },
          {
            "name": "group",
            "in": "query",
            "description": "Filter by group. Accepts comma separated values",
            "type": "string",
            "enum": [
              "tv",
              "radio",
              "tv,radio"
            ],
            "required": false
          },
          {
            "name": "media_type",
            "in": "query",
            "description": "Filter by programme media type. Accepts comma separated values",
            "type": "string",
            "enum": [
              "audio",
              "video",
              "audio,video"
            ],
            "required": false
          },
          {
            "name": "container",
            "in": "query",
            "description": "Filter by container. Accepts any pid e.g. brand,series,episode",
            "type": "string",
            "required": false
          },
          {
            "name": "media_set",
            "in": "query",
            "description": "Filter by media set name. Accepts comma separated combinations of the following: pc,mobile-download,android-download-high,apple-ios-download-high,mobile-cellular-main,mobile-phone-main,iptv-all",
            "type": "array",
            "required": false,
            "enum": [
              "pc",
              "mobile-download",
              "android-download-high",
              "apple-ios-download-high",
              "mobile-cellular-main",
              "mobile-phone-main",
              "iptv-all"
            ],
            "collectionFormat": "csv"
          },
          {
            "$ref": "#/parameters/q"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Retrieve Popular Episodes & Clips\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PopularResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/radio/programmes": {
      "get": {
        "summary": "Radio programmes",
        "parameters": [
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filter by provided query. E.g. 'tleo' returns top level objects, ie. brands, orphaned series, and orphaned episodes",
            "type": "string",
            "enum": [
              "tleo"
            ],
            "required": false
          },
          {
            "name": "network",
            "in": "query",
            "description": "Filter by network master brand ID (mid). Accepts comma separated values",
            "type": "string",
            "required": false
          },
          {
            "name": "network_url_key",
            "in": "query",
            "description": "Filter by network URL key. Accepts comma separated values",
            "type": "string",
            "required": false
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category id. Accepts comma separated values. See /category endpoint below for the type of response provided",
            "type": "string",
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by provided query. E.g. 'title' sorts in ascending order, and -title sorts in descending order",
            "type": "string",
            "enum": [
              "available_from_date",
              "-available_from_date",
              "title",
              "-title"
            ],
            "required": false
          },
          {
            "name": "container",
            "in": "query",
            "description": "Filter by container. Accepts any brand or series pid",
            "type": "string",
            "required": false
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by programme type. Accepts comma separated values",
            "type": "string",
            "enum": [
              "brand",
              "series",
              "episode",
              "clip",
              "episode,clip"
            ],
            "required": false
          },
          {
            "name": "media_type",
            "in": "query",
            "description": "Filter by media type (audio_video will return video values)",
            "type": "string",
            "enum": [
              "audio",
              "video",
              "audio_video"
            ],
            "required": false
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Provides a paginated list of programmes by PID (brand, series, episode and clip). Accepts various filters and sorting methods.\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining results as an array of Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getRadioProgrammes",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProgrammesResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/RadioErrorResponse"
            }
          }
        }
      }
    },
    "/radio/programmes/{pid}": {
      "get": {
        "summary": "Available radio programme by Pid",
        "parameters": [
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "$ref": "#/parameters/pid"
          }
        ],
        "tags": [
          "Programmes"
        ],
        "description": "Find programmes by PID (brand, series, episode and clip)\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining results as an array of Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getRadioProgrammesByPid",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProgrammesResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/RadioErrorResponse"
            }
          }
        }
      }
    },
    "/v2/my/categories/follows": {
      "get": {
        "summary": "List of followed categories",
        "parameters": [
          {
            "$ref": "#/parameters/Authorization"
          },
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedCategoriesResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Personalised Categories"
        ]
      },
      "post": {
        "summary": "Follow and unfollow category",
        "parameters": [
          {
            "$ref": "#/parameters/Authorization"
          },
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "action": {
                  "type": "string",
                  "enum": [
                    "followed",
                    "unfollowed"
                  ]
                },
                "category_id": {
                  "type": "string"
                },
                "platform": {
                  "type": "string",
                  "enum": [
                    "responsiveweb",
                    "app"
                  ]
                }
              },
              "required": [
                "action",
                "category_id",
                "platform"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Request successfully sent to UAS."
          },
          "400": {
            "description": "The request was malformed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "There was an error with the supplied `Authorization` header.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Personalised Categories"
        ]
      }
    },
    "/v2/my/experience/listen": {
      "get": {
        "deprecated": false,
        "summary": "Listen Page Experience",
        "schemes": [
          "https"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Authorization"
          },
          {
            "$ref": "#/parameters/X-API-Key"
          }
        ],
        "tags": [
          "Experience"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExperienceResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v2/my/networks/follows": {
      "get": {
        "summary": "List of followed networks",
        "parameters": [
          {
            "$ref": "#/parameters/Authorization"
          },
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedNetworksResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Personalised Networks"
        ]
      },
      "post": {
        "summary": "Follow and unfollow network",
        "parameters": [
          {
            "$ref": "#/parameters/Authorization"
          },
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "action": {
                  "type": "string",
                  "enum": [
                    "followed",
                    "unfollowed"
                  ]
                },
                "service_id": {
                  "type": "string"
                },
                "platform": {
                  "type": "string",
                  "enum": [
                    "responsiveweb",
                    "app"
                  ]
                }
              },
              "required": [
                "action",
                "service_id",
                "platform"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Request successfully sent to UAS."
          },
          "400": {
            "description": "The request was malformed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "There was an error with the supplied `Authorization` header.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Personalised Networks"
        ]
      }
    },
    "/my/programmes/recommendations": {
      "get": {
        "deprecated": true,
        "summary": "List of recommended programmes",
        "parameters": [
          {
            "$ref": "#/parameters/Authorization"
          },
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/rights"
          }
        ],
        "tags": [
          "Personalised Programmes"
        ],
        "description": "Recommended Programmes from the Audience Platforms' Recomendations Service\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProgrammesResponse"
            }
          },
          "401": {
            "description": "There was an error with the supplied `Authorization` header.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v2/my/programmes/plays": {
      "post": {
        "summary": "Write Play Event",
        "parameters": [
          {
            "$ref": "#/parameters/Authorization"
          },
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "action": {
                  "type": "string",
                  "enum": [
                    "started",
                    "ended",
                    "paused",
                    "heartbeat"
                  ]
                },
                "resource_type": {
                  "type": "string",
                  "enum": [
                    "episode",
                    "clip"
                  ]
                },
                "play_mode": {
                  "type": "string",
                  "enum": [
                    "live"
                  ]
                },
                "pid": {
                  "type": "string"
                },
                "version_pid": {
                  "type": "string"
                },
                "elapsed_time": {
                  "type": "integer"
                }
              },
              "required": [
                "action",
                "resource_type",
                "pid",
                "version_pid",
                "elapsed_time"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Request successfully sent to UAS."
          },
          "400": {
            "description": "The request was malformed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "There was an error with the supplied `Authorization` header.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Personalised Programmes"
        ]
      }
    },
    "/v2/my/programmes/plays/playable": {
      "get": {
        "summary": "List of played programmes",
        "parameters": [
          {
            "$ref": "#/parameters/Authorization"
          },
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PlayableItemsPaginatedResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Personalised Programmes"
        ]
      }
    },
    "/v2/my/programmes/favourites/playable": {
      "get": {
        "summary": "List of favourite programmes",
        "parameters": [
          {
            "$ref": "#/parameters/Authorization"
          },
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PlayableItemsPaginatedResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Personalised Programmes"
        ]
      }
    },
    "/v2/my/programmes/recommendations/playable": {
      "get": {
        "summary": "List of recommended programmes",
        "parameters": [
          {
            "$ref": "#/parameters/Authorization"
          },
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          }
        ],
        "tags": [
          "Personalised Programmes"
        ],
        "description": "Recommended Programmes from the Audience Platforms' Recomendations Service\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PlayableItemsPaginatedResponse"
            }
          },
          "401": {
            "description": "There was an error with the supplied `Authorization` header.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/my/playspace/containers/{id}": {
      "get": {
        "summary": "Continuous Play Container by ID",
        "parameters": [
          {
            "$ref": "#/parameters/Authorization"
          },
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Continuous Play Container ID",
            "type": "string",
            "required": true
          }
        ],
        "tags": [
          "Continuous Play"
        ],
        "description": "Continuous Play Container by ID\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContinuousPlayContainer"
            }
          },
          "401": {
            "description": "There was an error with the supplied `Authorization` header.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "No Continuous Play container with given ID could be found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/my/playspace/containers/suggested": {
      "get": {
        "summary": "Suggested Continuous Play Container",
        "parameters": [
          {
            "$ref": "#/parameters/Authorization"
          },
          {
            "$ref": "#/parameters/X-API-Key"
          },
          {
            "name": "previous_pid",
            "in": "query",
            "description": "Clip or Episode PID of the previous or first content item in the Continuous Play stream.",
            "type": "string",
            "required": true
          },
          {
            "name": "previous_container",
            "in": "query",
            "description": "Container ID of the previous container in the Continuous Play stream.",
            "type": "string",
            "required": false
          }
        ],
        "tags": [
          "Continuous Play"
        ],
        "description": "Suggested Continuous Play Container\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContinuousPlayContainer"
            }
          },
          "401": {
            "description": "There was an error with the supplied `Authorization` header.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/my/radio/favourites": {
      "parameters": [
        {
          "$ref": "#/parameters/Authorization"
        },
        {
          "$ref": "#/parameters/X-Authentication-Provider"
        },
        {
          "$ref": "#/parameters/X-API-Key"
        }
      ],
      "get": {
        "summary": "Favourite Episodes and Clips",
        "schemes": [
          "https"
        ],
        "description": "List of favourited episodes and clips for a given user for iPlayer Radio.\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getPersonalisedRadioFavourites",
        "parameters": [
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for Personalised Radio results",
            "type": "string",
            "enum": [
              "programme_titles",
              "available_from_date",
              "available_to_date"
            ],
            "required": false
          },
          {
            "name": "show_all_activity",
            "in": "query",
            "description": "Include items which have been 'soft' unfavourited in response. I.e items with UAS type of 'unfavourited'",
            "type": "boolean",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        },
        "tags": [
          "Radio"
        ]
      },
      "put": {
        "summary": "Favourite Episodes and Clips",
        "description": "Update user favourites\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedRadioBatch",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Action favourited or unfavourited",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalisedRadioBatchRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        },
        "tags": [
          "Radio"
        ]
      },
      "post": {
        "summary": "Favourite Episodes and Clips",
        "description": "Add User favourites\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedRadioBatch",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Action favourited or unfavourited",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalisedRadioBatchRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        },
        "tags": [
          "Radio"
        ]
      }
    },
    "/my/radio/favourites/{type}": {
      "parameters": [
        {
          "$ref": "#/parameters/Authorization"
        },
        {
          "$ref": "#/parameters/X-Authentication-Provider"
        },
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "name": "type",
          "in": "path",
          "description": "Supported Radio favourite types: Clips or Episodes",
          "type": "string",
          "enum": [
            "clips",
            "episodes"
          ],
          "required": true
        },
        {
          "name": "sort",
          "in": "query",
          "description": "Sort order for Personalised Radio results",
          "type": "string",
          "enum": [
            "programme_titles",
            "available_from_date",
            "available_to_date"
          ],
          "required": false
        },
        {
          "name": "show_all_activity",
          "in": "query",
          "description": "Include items which have been 'soft' unfavourited in response. I.e items with UAS type of 'unfavourited'",
          "type": "boolean",
          "required": false
        },
        {
          "$ref": "#/parameters/offset"
        },
        {
          "$ref": "#/parameters/limit"
        }
      ],
      "get": {
        "summary": "Favourite Episodes and Clips by Type",
        "description": "List of followed 'clips' or 'episode' items for a given iPlayer Radio user\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getPersonalisedRadioFavouritesByType",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        },
        "tags": [
          "Radio"
        ]
      }
    },
    "/my/radio/favourites/{type}/{pid}": {
      "parameters": [
        {
          "$ref": "#/parameters/Authorization"
        },
        {
          "$ref": "#/parameters/X-Authentication-Provider"
        },
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "name": "type",
          "in": "path",
          "description": "Supported Radio favourite types: Clips or Episodes",
          "type": "string",
          "enum": [
            "clips",
            "episodes"
          ],
          "required": true
        },
        {
          "$ref": "#/parameters/pid"
        }
      ],
      "get": {
        "summary": "Favourite Episode or Clip",
        "description": "Check to see if a single clip or episode entity is in a users favourites - determines UX of add button.\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getPersonalisedRadioByActivityTypeById",
        "parameters": [
          {
            "name": "show_all_activity",
            "in": "query",
            "description": "Include items which have been 'soft' unfavourited in response. I.e items with UAS type of 'unfavourited'",
            "type": "boolean",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        },
        "tags": [
          "Radio"
        ]
      },
      "put": {
        "summary": "Favourite Episode or Clip",
        "description": "Update user favourite\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedRadioByActivityTypeById",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Action favourited or unfavourited",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        },
        "tags": [
          "Radio"
        ]
      },
      "post": {
        "summary": "Favourite Episode or Clip",
        "description": "Add User favourite\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedRadioByActivityTypeById",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Action favourited or unfavourited",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        },
        "tags": [
          "Radio"
        ]
      },
      "delete": {
        "summary": "Favourite Episode or Clip",
        "description": "Remove User favourite\n",
        "operationId": "deletePersonalisedRadioByActivityTypeById",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        },
        "tags": [
          "Radio"
        ]
      }
    },
    "/my/radio/follows": {
      "parameters": [
        {
          "$ref": "#/parameters/Authorization"
        },
        {
          "$ref": "#/parameters/X-Authentication-Provider"
        },
        {
          "$ref": "#/parameters/X-API-Key"
        }
      ],
      "get": {
        "summary": "Followed Brands and Series",
        "description": "List of favourited brands and series for a given user for iPlayer Radio.\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getPersonalisedRadioFollows",
        "parameters": [
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for Personalised Radio results",
            "type": "string",
            "enum": [
              "programme_titles",
              "available_from_date",
              "available_to_date"
            ],
            "required": false
          },
          {
            "name": "show_all_activity",
            "in": "query",
            "description": "Include items which have been 'soft' unfollowed in response. I.e items with UAS type of 'unfollowed'",
            "type": "boolean",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        },
        "tags": [
          "Radio"
        ]
      },
      "put": {
        "summary": "Followed Brands and Series",
        "description": "Update 'brands' or 'series' items from a users iPlayer Radio follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedRadioFollowsBatch",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Action followed or unfollowed",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalisedRadioBatchRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        },
        "tags": [
          "Radio"
        ]
      },
      "post": {
        "summary": "Followed Brands and Series",
        "description": "Add 'brand' or 'series' items to a users iPlayer Radio follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedRadioFollowsBatch",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Action followed or unfollowed",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalisedRadioBatchRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        },
        "tags": [
          "Radio"
        ]
      }
    },
    "/my/radio/follows/{type}": {
      "parameters": [
        {
          "$ref": "#/parameters/Authorization"
        },
        {
          "$ref": "#/parameters/X-Authentication-Provider"
        },
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "name": "type",
          "in": "path",
          "description": "Supported Radio follows types: Brands or Series",
          "type": "string",
          "enum": [
            "brands",
            "series"
          ],
          "required": true
        },
        {
          "name": "sort",
          "in": "query",
          "description": "Sort order for Personalised Radio results",
          "type": "string",
          "enum": [
            "programme_titles",
            "available_from_date",
            "available_to_date"
          ],
          "required": false
        },
        {
          "$ref": "#/parameters/offset"
        },
        {
          "$ref": "#/parameters/limit"
        },
        {
          "name": "show_all_activity",
          "in": "query",
          "description": "Include items which have been 'soft' unfollowed in response. I.e items with UAS type of 'unfollowed'",
          "type": "boolean",
          "required": false
        }
      ],
      "get": {
        "summary": "Followed Brands or Series by Type",
        "description": "List of followed 'brand' or 'series' items for a given iPlayer Radio user\n\nN.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode\nand Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for\n anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification\n",
        "operationId": "getPersonalisedRadioFollowsByType",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        },
        "tags": [
          "Radio"
        ]
      }
    },
    "/my/radio/follows/{type}/{pid}": {
      "parameters": [
        {
          "$ref": "#/parameters/Authorization"
        },
        {
          "$ref": "#/parameters/X-Authentication-Provider"
        },
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "name": "type",
          "in": "path",
          "description": "Supported Radio follows types: Brands or Series",
          "type": "string",
          "enum": [
            "brands",
            "series"
          ],
          "required": true
        },
        {
          "$ref": "#/parameters/pid"
        }
      ],
      "get": {
        "summary": "Followed Brand or Series",
        "description": "Check to see if a single brand or series entity is in a users follows - determines UX of add button.\n",
        "operationId": "getPersonalisedRadioFollowsByTypeById",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        },
        "tags": [
          "Radio"
        ]
      },
      "put": {
        "summary": "Followed Brand or Series",
        "description": "Update 'brand' or 'series' items from a users iPlayer Radio follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedRadioFollowsByTypeById",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Action followed or unfollowed",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        },
        "tags": [
          "Radio"
        ]
      },
      "post": {
        "summary": "Followed Brand or Series",
        "description": "Add 'brand' or 'series' items from a users iPlayer Radio follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedRadioFollowsByTypeById",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Action followed or unfollowed",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        },
        "tags": [
          "Radio"
        ]
      },
      "delete": {
        "summary": "Followed Brand or Series",
        "description": "Remove 'brand' or 'series' items from a users iPlayer Radio follows\n",
        "operationId": "deletePersonalisedRadioFollowsByTypeById",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioSuccessResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedRadioErrorResponse"
            }
          }
        },
        "tags": [
          "Radio"
        ]
      }
    },
    "/my/music/favourites": {
      "parameters": [
        {
          "$ref": "#/parameters/Authorization"
        },
        {
          "$ref": "#/parameters/X-Authentication-Provider"
        },
        {
          "$ref": "#/parameters/X-API-Key"
        }
      ],
      "get": {
        "summary": "Favourite Tracks or Clips",
        "description": "List of favourited tracks and clips for a given user for BBC Music.\n",
        "parameters": [
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "name": "action",
            "in": "query",
            "description": "Filters activities based on the type of action",
            "type": "string",
            "enum": [
              "favourited",
              "unfavourited"
            ],
            "required": false
          },
          {
            "name": "music-data",
            "in": "query",
            "description": "Omits music data from the response, defaults to true",
            "type": "boolean",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        },
        "tags": [
          "Music"
        ]
      },
      "put": {
        "summary": "Favourite Tracks or Clips",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Action favourited or unfavourited",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalisedMusicBatchRequest"
              }
            }
          }
        ],
        "description": "Update tracks or clips from a BBC Music user favourites.\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicSuccess"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        },
        "tags": [
          "Music"
        ]
      },
      "post": {
        "summary": "Favourite Tracks or Clips",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Action favourited or unfavourited",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalisedMusicBatchRequest"
              }
            }
          }
        ],
        "description": "Add multiple tracks and/or clips to a BBC Music user's favourites.\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        },
        "tags": [
          "Music"
        ]
      }
    },
    "/my/music/favourites/{type}": {
      "parameters": [
        {
          "$ref": "#/parameters/Authorization"
        },
        {
          "$ref": "#/parameters/X-Authentication-Provider"
        },
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "name": "type",
          "in": "path",
          "description": "Supported Music favourite types: Clips or Tracks",
          "type": "string",
          "enum": [
            "clips",
            "tracks"
          ],
          "required": true
        },
        {
          "name": "action",
          "in": "query",
          "description": "Filters activities based on the type of action",
          "type": "string",
          "enum": [
            "favourited",
            "unfavourited"
          ],
          "required": false
        },
        {
          "$ref": "#/parameters/offset"
        },
        {
          "$ref": "#/parameters/limit"
        }
      ],
      "get": {
        "summary": "Favourite Tracks or Clips by Type",
        "description": "List of favourited tracks or clips for a given user for BBC Music.\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        },
        "tags": [
          "Music"
        ]
      }
    },
    "/my/music/favourites/{type}/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/Authorization"
        },
        {
          "$ref": "#/parameters/X-Authentication-Provider"
        },
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "name": "type",
          "in": "path",
          "description": "Supported Music favourite types: Clips or Tracks",
          "type": "string",
          "enum": [
            "clips",
            "tracks"
          ],
          "required": true
        },
        {
          "name": "id",
          "in": "path",
          "description": "Clip PID or Track ID",
          "type": "string",
          "required": true
        }
      ],
      "get": {
        "summary": "Favourite Track or Clip",
        "description": "Check to see if a single track or clip entity is in a users favourites - determines UX of add button.\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        },
        "tags": [
          "Music"
        ]
      },
      "put": {
        "summary": "Favourite Track or Clip",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Action favourited or unfavourited",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicRequest"
            }
          }
        ],
        "description": "Update tracks or clips from a BBC Music user favourites.\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicSuccess"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        },
        "tags": [
          "Music"
        ]
      },
      "post": {
        "summary": "Favourite Track or Clip",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Action favourited or unfavourited",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicRequest"
            }
          }
        ],
        "description": "Add track or clip to a BBC Music user favourites.\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        },
        "tags": [
          "Music"
        ]
      },
      "delete": {
        "summary": "Favourite Track or Clip",
        "description": "Delete track or clip from a BBC Music user favourites.\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicSuccess"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        },
        "tags": [
          "Music"
        ]
      }
    },
    "/my/music/follows": {
      "parameters": [
        {
          "$ref": "#/parameters/Authorization"
        },
        {
          "$ref": "#/parameters/X-Authentication-Provider"
        },
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "name": "action",
          "in": "query",
          "description": "Filters activities based on the type of action",
          "type": "string",
          "enum": [
            "followed",
            "unfollowed"
          ],
          "required": false
        },
        {
          "name": "music-data",
          "in": "query",
          "description": "Omits music data from the response, defaults to true",
          "type": "boolean",
          "required": false
        },
        {
          "name": "music_context",
          "in": "query",
          "description": "Specify context to be passed to Music API",
          "type": "string",
          "enum": [
            "events",
            "ivote",
            "music",
            "musicplaylist",
            "programmes",
            "radio",
            "unknown"
          ],
          "required": false
        },
        {
          "name": "music_within_uk",
          "in": "query",
          "description": "Specify location to be passed to Music API",
          "type": "boolean",
          "required": false
        }
      ],
      "get": {
        "summary": "Followed Networks, Categories, Artists, Playlists and Genres",
        "description": "List of followed networks, categories, artists, playlists and genres for a given user for BBC Music.\n",
        "parameters": [
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        },
        "tags": [
          "Music"
        ]
      },
      "put": {
        "summary": "Followed Networks, Categories, Artists, Playlists and Genres",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Action followed or unfollowed",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalisedMusicBatchRequest"
              }
            }
          }
        ],
        "description": "Update networks, categories, artists, playlists, networks, genres or services in a users follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicSuccess"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        },
        "tags": [
          "Music"
        ]
      },
      "post": {
        "summary": "Followed Networks, Categories, Artists, Playlists and Genres",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Action followed or unfollowed",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalisedMusicBatchRequest"
              }
            }
          }
        ],
        "description": "Add networks, categories, artists, playlists, networks, genres or services in a users follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicSuccess"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        },
        "tags": [
          "Music"
        ]
      }
    },
    "/my/music/follows/{type}": {
      "parameters": [
        {
          "$ref": "#/parameters/Authorization"
        },
        {
          "$ref": "#/parameters/X-Authentication-Provider"
        },
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "name": "type",
          "in": "path",
          "description": "Supported Music follows types: Playlists, Services, Genres & Artists",
          "type": "string",
          "enum": [
            "playlists",
            "services",
            "networks",
            "genres",
            "categories",
            "artists"
          ],
          "required": true
        },
        {
          "name": "action",
          "in": "query",
          "description": "Filters activities based on the type of action",
          "type": "string",
          "enum": [
            "followed",
            "unfollowed"
          ],
          "required": false
        },
        {
          "name": "music-data",
          "in": "query",
          "description": "Omits music data from the response, defaults to true",
          "type": "boolean",
          "required": false
        },
        {
          "name": "music_context",
          "in": "query",
          "description": "Specify context to be passed to Music API",
          "type": "string",
          "enum": [
            "events",
            "ivote",
            "music",
            "musicplaylist",
            "programmes",
            "radio",
            "unknown"
          ],
          "required": false
        },
        {
          "name": "music_within_uk",
          "in": "query",
          "description": "Specify location to be passed to Music API",
          "type": "boolean",
          "required": false
        },
        {
          "$ref": "#/parameters/offset"
        },
        {
          "$ref": "#/parameters/limit"
        }
      ],
      "get": {
        "summary": "Followed Networks, Categories, Artists, Playlists and Genres by Type",
        "description": "List of followed networks, categories, artists, playlists, networks, genres, categories or services for a given BBC Music user.\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        },
        "tags": [
          "Music"
        ]
      }
    },
    "/my/music/follows/{type}/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/Authorization"
        },
        {
          "$ref": "#/parameters/X-Authentication-Provider"
        },
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "name": "type",
          "in": "path",
          "description": "Supported Music follows types: Playlists, Services, Genres & Artists",
          "type": "string",
          "enum": [
            "playlists",
            "services",
            "networks",
            "genres",
            "categories",
            "artists"
          ],
          "required": true
        },
        {
          "name": "id",
          "in": "path",
          "description": "Playlists, Services, Networks, Genres, Categories or Artists ID",
          "type": "string",
          "required": true
        },
        {
          "name": "music-data",
          "in": "query",
          "description": "Omits music data from the response, defaults to true",
          "type": "boolean",
          "required": false
        },
        {
          "name": "music_context",
          "in": "query",
          "description": "Specify context to be passed to Music API",
          "type": "string",
          "enum": [
            "events",
            "ivote",
            "music",
            "musicplaylist",
            "programmes",
            "radio",
            "unknown"
          ],
          "required": false
        },
        {
          "name": "music_within_uk",
          "in": "query",
          "description": "Specify location to be passed to Music API",
          "type": "boolean",
          "required": false
        }
      ],
      "get": {
        "summary": "Followed Network, Category, Artist, Playlist and Genre",
        "description": "Check to see if a single network, category, artist, playlist, network, genre or service entity is in a users follows - determines UX of add button.\n",
        "operationId": "getPersonalisedMusicFollowsByTypeById",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        },
        "tags": [
          "Music"
        ]
      },
      "put": {
        "summary": "Followed Network, Category, Artist, Playlist and Genre",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Action followed or unfollowed",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicRequest"
            }
          }
        ],
        "description": "Update a single network, category, artist, playlist, network, genre or service entity is in a users follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedMusicFollowsByTypeById",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicSuccess"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        },
        "tags": [
          "Music"
        ]
      },
      "post": {
        "summary": "Followed Network, Category, Artist, Playlist and Genre",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Action followed or unfollowed",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicRequest"
            }
          }
        ],
        "description": "Add a single network, category, artist, playlist, network, genre or service entity is in a users follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedMusicFollowsByTypeById",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicSuccess"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        },
        "tags": [
          "Music"
        ]
      },
      "delete": {
        "summary": "Followed Network, Category, Artist, Playlist and Genre",
        "description": "Remove a single network, category, artist, playlist, network, genre or service entity is in a users follows\n",
        "operationId": "deletePersonalisedMusicFollowsByTypeById",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicSuccess"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/PersonalisedMusicErrorResponse"
            }
          }
        },
        "tags": [
          "Music"
        ]
      }
    },
    "/my/music/export": {
      "parameters": [
        {
          "$ref": "#/parameters/Authorization"
        },
        {
          "$ref": "#/parameters/X-Authentication-Provider"
        },
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "$ref": "#/parameters/offset"
        },
        {
          "$ref": "#/parameters/limit"
        }
      ],
      "get": {
        "summary": "Music Exports",
        "description": "Returns status of all previous third party export actions for a given BBC Music user.\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MusicExportJob"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/MusicExportErrorResponse"
            }
          }
        },
        "tags": [
          "Music Export"
        ]
      }
    },
    "/my/music/exports/jobs": {
      "parameters": [
        {
          "$ref": "#/parameters/Authorization"
        },
        {
          "$ref": "#/parameters/X-Authentication-Provider"
        },
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "$ref": "#/parameters/over16"
        },
        {
          "name": "vendor",
          "in": "query",
          "description": "Specify Vendor Jobs",
          "type": "string",
          "enum": [
            "spotify",
            "deezer",
            "youtube",
            "itunes"
          ],
          "required": false
        }
      ],
      "get": {
        "summary": "Music Export Jobs",
        "description": "All items associated to a users export request\n",
        "operationId": "getMusicExportJobs",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MusicExportJob"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/MusicExportErrorResponse"
            }
          }
        },
        "tags": [
          "Music Export"
        ]
      },
      "post": {
        "summary": "Music Export Jobs",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MusicExportJob"
              }
            }
          }
        ],
        "description": "Create Export Job for a user\n",
        "operationId": "postMusicExportJob",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MusicExportSuccess"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/MusicExportErrorResponse"
            }
          }
        },
        "tags": [
          "Music Export"
        ]
      }
    },
    "/my/music/exports/tracks": {
      "parameters": [
        {
          "$ref": "#/parameters/Authorization"
        },
        {
          "$ref": "#/parameters/X-Authentication-Provider"
        },
        {
          "$ref": "#/parameters/X-API-Key"
        },
        {
          "$ref": "#/parameters/over16"
        },
        {
          "$ref": "#/parameters/offset"
        },
        {
          "$ref": "#/parameters/limit"
        },
        {
          "name": "vendor",
          "in": "query",
          "description": "Specify Vendor Tracks",
          "type": "string",
          "enum": [
            "spotify",
            "deezer",
            "youtube",
            "itunes"
          ],
          "required": false
        },
        {
          "name": "status",
          "in": "query",
          "description": "Specify Track status",
          "type": "string",
          "enum": [
            "failed",
            "done",
            "pending"
          ],
          "required": false
        }
      ],
      "get": {
        "summary": "Music Export Tracks",
        "description": "Retrieves vendor and status specific tracks\n",
        "operationId": "getMusicExportTracks",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MusicExportJob"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/MusicExportErrorResponse"
            }
          }
        },
        "tags": [
          "Music Export"
        ]
      }
    },
    "/my/music/preferences/export": {
      "parameters": [
        {
          "$ref": "#/parameters/Authorization"
        },
        {
          "$ref": "#/parameters/X-Authentication-Provider"
        },
        {
          "$ref": "#/parameters/X-API-Key"
        }
      ],
      "get": {
        "summary": "Music Export Preferences",
        "description": "Returns export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.\n",
        "operationId": "getMusicPreferencesExport",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MusicExportPreferencesResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/MusicExportErrorResponse"
            }
          }
        },
        "tags": [
          "Music Export"
        ]
      },
      "post": {
        "summary": "Music Export Preferences",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MusicExportPreferences"
            }
          }
        ],
        "description": "Create export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.\n",
        "operationId": "postMusicPreferencesExport",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MusicExportSuccess"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/MusicExportErrorResponse"
            }
          }
        },
        "tags": [
          "Music Export"
        ]
      },
      "delete": {
        "summary": "Music Export Preferences",
[...]
